.caustica-404 {
  background-color: black;
  border-bottom: 60px solid transparent;
  border-image: url(../../public/static/assets/line-black.png) 60 round;
  border-image-outset: 60px;
  background-image: url(../../public/static/assets/back-banner.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 220px;
  margin-bottom: 60px;
  @media (max-width: $desktopL){
    border-bottom: 20px solid transparent;
    border-image: url(../../public/static/assets/line-black.png) 40 round;
    border-image-outset: 20px;
    background-position: 0 260px;
    background-size: 200px;
  }
  @media (max-width: $desktopXS){
    background-position: bottom left;
  }
  @media (max-width: $mobile){
    background-image: initial;
    border-image: url(../../public/static/assets/line-black-m.png) 40 round;
    border-image-outset: 20px;
  }

  .content {
    font-size: 0;
    @media (max-width: $desktopXL){
      padding-left: 40px;
    }
    @media (max-width: $desktopL){
      padding-left: 60px;
    }
    @media (max-width: $desktopXS){
      padding-left: 20px;
      flex-direction: column-reverse;
      display: flex;
    }

    @media (max-width: $tablet){
      padding-left: 0;
    }
    
      .info {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 1rem;
        position: relative;
        height: 340px;
        @media (max-width: $desktopL){
          height: 320px;
        }
        @media (max-width: $desktopXS){
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          display: block;
          height: auto;
        }

        .content-info {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 90%;
            left: 0;
            max-width: 410px;
            margin-top: 40px;
            text-align: center;
            @media (max-width: $desktopL){
              height: 320px;
              margin-top: 30px;
            }
            @media (max-width: $desktopXS){
              width: 100%;
              max-width: initial;
              position: relative;
              transform: initial;
              top: initial;
              height: auto;
              margin-bottom: 30px;
            }

            @media (max-width: $mobile){
              margin-top: 10px;
              margin-bottom: 20px;
            }

            h1 {
              color: white;
              font-size: 7rem;
              line-height: 6rem;
              font-weight: 900;
              @media (max-width: $desktopL){
                font-size: 5.5rem;
                line-height: 4.7rem;
              }
              @media (max-width: $mobile){
                margin-bottom: 10px;
              }
            }
            h2 {
              color: white;
              font-weight: 700;
              font-size: 2.4rem;
              @media (max-width: $desktopL){
                font-size: 2.2rem;
              }
              @media (max-width: $desktopL){
                font-size: 2rem;
              }
            }

            p {
              color: white;
              font-weight: 100;
              font-size: 1.8rem;
              line-height: 1.8rem;
              margin-top: 23px;
              @media (max-width: $desktopL){
                font-size: 1.6rem;
                line-height: 1.6rem;
              }
              @media (max-width: $desktopL){
                font-size: 1.3rem;
                line-height: 1.3rem;
              }
            }

            a {
              width: 145px;
              height: 60px;
              background-image: url(../../public/static/assets/continuar-button.png);
              background-repeat: no-repeat;
              background-size: contain;
              color: transparent;
              display: block;
              margin: 25px auto 0 auto;
            }
         

        }

      }
      .image-banner {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 340px;
        @media (max-width: $desktopL){
          height: 320px;
        }
        @media (max-width: $desktopXS){
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          display: block;
        }
        @media (max-width: $tablet){
          height: auto;
        }

        img {
          width: 130%;
          margin-top: -40%;
          margin-left: -8%;
          @media (max-width: $desktopL){
            margin-top: -40%;
            max-width: 643px;
          }
          @media (max-width: $desktopXS){
            margin-top: -10%;
            max-width: 700px;
          }
          @media (max-width: $tablet){
            object-fit: cover;
            object-position: center center;
            height: 500px;
            margin-top: -112px;
          }
          @media (max-width: $mobile){
            height: 430px;
          }
          @media (max-width: $mobileL){
            height: 350px;
          }
        } 

      }
  }

}