.content-max.acticulos {
  .content {
    padding: 80px 0 60px 0;
    @media (max-width: $desktopL){
      padding: 40px 0 60px 0;
    }
    article {
      .content-info-image {
        font-size: 0;
        padding: 30px 0;
        box-sizing: border-box;
        @media (max-width: $desktopL){
          padding: 30px 80px 20px 20px;
        }
        @media (max-width: $desktop){
          padding: 30px 20px 20px 20px;
        }
        @media (max-width: $mobile){
          padding: 0 20px 20px 20px;
        }
        .info {
          width: 64%;
          display: inline-block;
          vertical-align: top;
          padding: 20px 50px 20px 0;
          box-sizing: border-box;
          @media (max-width: $desktop){
            width: 100%;
            padding: 0 0 20px 0;
          }
          ul{
            li{
              margin: 25px 10px;
              @media (max-width: $desktop){
                line-height: 1.5rem;
                font-size: 1rem;
              }
            }
          }
        }
        .image {
          width: 36%;
          display: inline-block;
          vertical-align: top;
          @media (max-width: $desktop){
            width: 100%;
          }

          img {
            width: 110%;
            @media (max-width: $desktop){
              width: 100%;
              max-width: 450px;
              margin: 0 auto;
              display: block;
            }
          }

        }

        &.full {
          .info {
              width: 100%;
              padding: 1.2rem ;
              @media only screen and (min-width:$desktopL){
                padding: 1.2rem 7.5rem 0;
              }
          }
        }

      }

      .content-info-ad {
        font-size: 0;
        padding: 30px 0;
        box-sizing: border-box;
        @media (max-width: $desktopXL){
          padding: 30px 20px;
        }
        .info {
          width: 70%;
          display: inline-block;
          vertical-align: top;
          padding: 20px 30px 20px 0;
          box-sizing: border-box;
          @media (max-width: $desktop){
            width: 100%;
            padding: 20px 0 20px 0;
          }
        }
        aside {
          width: 30%;
          display: inline-block;
          vertical-align: top;
          text-align: right;
          @media (max-width: $desktop){
            width: 100%;
            text-align: center;
          }
        }
      }

      .galery-x3 {
        font-size: 0;
        padding: 30px 0;
        box-sizing: border-box;
        @media (max-width: $desktopXL){
          padding: 30px 20px;
        }
        .info {
          width: 40%;
          display: inline-block;
          vertical-align: middle;
          padding: 20px 100px 20px 0;
          box-sizing: border-box;
          @media (max-width: $desktopXL){
            padding: 20px 80px 20px 0;
          }
          @media (max-width: $desktopL){
            padding: 20px 60px 20px 0;
          }
          @media (max-width: $desktopXS){
            padding: 20px 40px 20px 0;
          }
          @media (max-width: $desktop){
            padding: 20px 20px 20px 0;
          }
          @media (max-width: $tablet){
            padding: 20px 0;
            width: 100%;
          }

          h2 {
            border-bottom: 25px solid transparent;
            border-image: url(../../public/static/assets/red-line-title.png) 30 round;
            margin-bottom: 10px;
            max-width: 330px;
            font-weight: bold;
          }

        }
        .content-g3 {
          width: 60%;
          display: inline-block;
          vertical-align: middle;
          @media (max-width: $tablet){
            width: 100%;
          }

          .content-images {
            width: 106%;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            @media (max-width: $tablet){
              width: 100%;
            }

            .image.primary {
                width: 68%;
                display: inline-block;
                vertical-align: middle;
                @media (max-width: $mobile){
                  width: 100%;
                }
            }

            .image.secondary {
                width: 32%;
                display: inline-block;
                vertical-align: middle;
                @media (max-width: $mobile){
                  width: 100%;
                }
            }

            img {
              width: 100%;
              padding: 6px;
              box-sizing: border-box;
              @media (max-width: $mobile){
                width: 100%;
              }
            }

          }


        }
      }

    }

  }
}

.puede-interesar {
  margin-top: 90px;
  h2 {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 3.5rem;
    line-height: 3.5rem;
    @media (max-width: $tablet){
      font-size: 2.3rem;
      line-height: 2.4rem;
    }
  }

  .masonry-content-dinamicas {
    padding: 40px 0 70px 0 !important;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    @media (max-width: $desktopXL){
      max-width: 1150px;
    }

    .content-card {
        padding: 12px;
        box-sizing: border-box;
        position: relative;
    }
  }

  &.galeria,
  &.video {
    margin-top: 40px;
  }

}

.content.politica-privacidad {
  padding: 60px 0;
  overflow-wrap: break-word;
  @media (max-width: $desktopXL){
    padding: 60px 20px;
    box-sizing: border-box;
  }

  h1 {
      margin-bottom: 30px;
      border-bottom: 25px solid transparent;
      border-image: url(../../public/static/assets/red-line-title.png) 30 round;
      max-width: 425px;
      font-weight: bold;
      font-family: "Jost";
      text-transform: uppercase;
      font-size: 1.8rem;
      @media (max-width: $desktop){
        max-width: 250px;
      }
  }

  p {
    line-height: 1.6rem;
    a {
      color: $grey-1;
      text-decoration: underline;
    }
  }
}

.masonry-internas-dinamicas {
  .content-card {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    .home-grid-item-classification img {
      width: 96%;
    }
  }
}