.video-acticulo {
  .content {
    padding: 85px 0 30px 0;
    box-sizing: border-box;
    position: relative;
    .social{
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -5%;
      a{
        margin-bottom: .5rem;
      }
    }
    @media (max-width: $desktopL){
      padding: 30px 20px 20px 20px;
    }
    .content-iframe {
      height: 0;
      overflow: hidden;
      padding-bottom: 53.7%;
      padding-top: 30px;
      position: relative;
      border: 5px solid white;
      box-shadow: 0px 0px 6px 0px #8a8a8a;

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        }

    }

  }
}