.BannerArticulos {
  background-color: black;
  border-bottom: 60px solid transparent;
  border-image: url(../../public/static/assets/line-black.png) 60 round;
  border-image-outset: 60px;
  background-image: url(../../public/static/assets/back-banner.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 220px;
  @media (max-width: $desktopL){
    border-bottom: 20px solid transparent;
    border-image: url(../../public/static/assets/line-black.png) 40 round;
    border-image-outset: 20px;
    background-position: 0 260px;
    background-size: 200px;
  }
  @media (max-width: $desktopXS){
    background-position: bottom left;
  }
  @media (max-width: $mobile){
    background-image: initial;
    border-image: url(../../public/static/assets/line-black-m.png) 40 round;
    border-image-outset: 20px;
  }


  .content-max{
    position: relative;
    .social {
      position: absolute;
      top: 30px;
      left: 1rem;
      @media (max-width: $desktopXS){
        display: none;
      }

      a {
        display: block;
        margin: 10px;
      }
    }
  }
  

  .content {
    font-size: 0;
    @media (max-width: $desktopXL){
      padding-left: 40px;
    }
    @media (max-width: $desktopL){
      padding-left: 60px;
    }
    @media (max-width: $desktopXS){
      padding-left: 20px;
      flex-direction: column-reverse;
      display: flex;
    }
    @media (max-width: $tablet){
      padding: 0;
    }
    
      .info {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 1rem;
        position: relative;
        height: 470px;
        @media (max-width: $desktopL){
          height: 440px;
        }
        @media (max-width: $desktopXS){
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          display: block;
          height: auto;
        }
        @media (max-width: $tablet){
          padding: 0 20px;
          box-sizing: border-box;
        }

        .content-info {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 90%;
            left: 0;
            max-width: 515px;
            margin-top: 30px;
            @media (max-width: $desktopL){
              height: 440px;
            }
            @media (max-width: $desktopXS){
              width: 100%;
              max-width: initial;
              position: relative;
              transform: initial;
              top: initial;
              height: auto;
              margin-bottom: 30px;
            }

            .content-tags {
              border-bottom: 1px solid $grey;
              padding: 10px 0;
              display: flex;
              .tags {
                color: black;
                font-family: 'Caveat Brush', cursive;
                padding: 6px 8px;
                text-align: center;
                font-size: 1.3rem;
                background-size: cover;
                flex: 0 0 26%;
                clip-path: polygon(0% 7%, 100% 15%, 100% 90%, 0 100%);
                background-color: white;
                //background-image: url(../../public/static/assets/back-btns-secondary.svg);
                @media (max-width: $desktop){
                  flex: 0 0 40%;
                }
              }
              .ico-tag {
                  justify-content: flex-end;
                  display: flex;
                  flex: 0 0 74%;
                  @media (max-width: $desktop){
                    flex: 0 0 60%;
                  }

                  img {
                    width: 45px;
                    height: 33px;
                    object-fit: cover;
                    object-position: center center;
                  }

              }
            }

            .date {
                color: white;
                font-style: italic;
                margin: 14px 0 10px 0;
            }

            .autor {
              color: white;
              border-bottom: 1px solid white;
              .ico-autor {
                  display: inline-block;

                  img {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 50%;
                  }
              }

              p {
                display: inline-block;
                margin-left: 10px;
              }

            }

            .description {
              color: white;
              margin-top: 15px;
            }

            h1 {
              color: white;
              font-weight: bold;
              margin-bottom: 30px;
              text-transform: uppercase;
              line-height: 2.5rem;
            }

        }

      }
      .image-banner {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 470px;
        @media (max-width: $desktopL){
          height: 440px;
        }
        @media (max-width: $desktopXS){
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          display: block;
        }
        @media (max-width: $tablet){
          height: auto;
        }

        img {
          width: 125%;
          margin-top: -20%;
          margin-left: -8%;
          @media (max-width: $desktopL){
            margin-top: -23%;
            max-width: 670px;
          }
          @media (max-width: $desktopXS){
            margin-top: -10%;
            max-width: 700px;
          }
          @media (max-width: $tablet){
            object-fit: cover;
            object-position: center center;
            height: 500px;
            margin-top: -112px;
            width: 100%;
            margin-left: 0;
          }
        } 

      }
  }

}