.BannerHome {
    background-color: black;
    border-bottom: 60px solid transparent;
    border-image: url(../../public/static/assets/line-black.png) 60 round;
    border-image-outset: 60px;    
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 220px; 
    @media (max-width: $desktop){
      border-bottom: 40px solid transparent;
      border-image-outset: 40px;    
    } 
    .content {
      font-size: 0;
      max-width: initial;
      @media (max-width: $desktopL){
        padding: 0;
      }
      @media (max-width: $desktop){
        display: flex;
        flex-flow: row wrap-reverse;
      } 
        .info {
          display: inline-block;
          vertical-align: middle;
          width: 35%;
          position: relative;  
          @media (max-width: $desktopXL){
            width: 40%;
            padding-left: 4%;
          }   
          @media (max-width: $desktopL){
            width: 35%;
            padding: 0;
          } 
          @media (max-width: $desktop){
            width: 100%;
            padding: 0 20px;
          } 
          @media (max-width: $tablet){
            padding: 0 10px;
          } 
          @media (max-width: $mobileL){
            padding: 0;
          }   
          .banner-lefty{
            background-image: url(../../public/static/assets/back-banner.png);
            background-size: contain;
            position: relative;
            height: 510px;
            width: 500px;
            //background-color: #ff000038;
            @media (max-width: $desktop){
              width: 100%;
              text-align: center;
              height: auto;
              margin-top: 10px;
            }
            .ver {            
              background-image: url("/static/assets/ver2.png");
              background-size: contain;
              background-repeat: no-repeat;
              width: 190px;
              height: 240px;
              display: block;
              top: 80px;
              left: 30px;
              position: absolute;
              transition: all 0.3s;
              @media (max-width: $desktopXL){
                width: 185px;
                height: 235px;
                left: 37px;
              } 
              @media (max-width: $desktopL){
                width: 160px;
                height: 200px;
                left: 30px;
              }   
              @media (max-width: $desktop){
                position: relative;
                display: inline-block;
                left: initial;
                top: initial;
                width: 145px;
                height: 190px;
                background-image: url("/static/assets/verM.png"); 
              }
              @media (max-width: $tablet){
                width: 122px;
                height: 168px;
              }
              @media (max-width: $mobile){
                width: 90px;
                height: 120px;
              }
              @media (max-width: $mobileL){
                width: 72px;
                height: 92px;
              } 
              &:hover{
                background-image: url("/static/assets/ver.png");
                @media (max-width: $desktop){
                  background-image: url("/static/assets/verM.png"); 
                }
              } 
            }
            .random{
              background-image: url("/static/assets/random2.png"); 
              background-repeat: no-repeat;
              background-size: contain;
              width: 190px;
              height: 235px;
              position: absolute;
              left: 242px;
              bottom: 44px;
              transition: all 0.3s;
              @media (max-width: $desktopXL){
                width: 185px;
                height: 230px;
                left: 239px;
                bottom: 55px;
              } 
              @media (max-width: $desktopL){
                width: 165px;
                height: 234px;
                left: 202px;
                bottom: 62px;
              }  
              @media (max-width: $desktop){
                position: relative;
                display: inline-block;
                left: initial;
                bottom: 0;
                width: 145px;
                height: 190px;
                background-image: url("/static/assets/randomM.png"); 
              }
              @media (max-width: $tablet){
                width: 122px;
                height: 168px;
              }
              @media (max-width: $mobile){
                width: 90px;
                height: 120px;
              }
              @media (max-width: $mobileL){
                width: 72px;
                height: 92px;
              } 
              &:hover{
                background-image: url("/static/assets/random.png");
                @media (max-width: $desktop){
                  background-image: url("/static/assets/randomM.png"); 
                }
              }
            }
            .oir{
              background-image: url("/static/assets/oir-background.png");
              background-repeat: no-repeat;
              background-size: contain;
              width: 156px;
              height: 156px;
              position: absolute;
              left: 84px;
              bottom: 24px;  
              @media (max-width: $desktopXL){
                width: 150px;
                height: 150px;
                left: 88px;
                bottom: 35px;
              }     
              @media (max-width: $desktopL){
                width: 142px;
                height: 147px;
                left: 56px;
                bottom: 68px;
              }
              @media (max-width: $desktop){
                position: relative;
                display: inline-block;
                left: initial;
                bottom: 0;
                width: 145px;
                height: 190px;
                background-image: url("/static/assets/oirM.png"); 
              }    
              @media (max-width: $tablet){
                width: 122px;
                height: 168px;
              }
              @media (max-width: $mobile){
                width: 90px;
                height: 120px;
              }
              @media (max-width: $mobileL){
                width: 72px;
                height: 92px;
              } 
              .oir-oreja{
                background-image: url("/static/assets/oir-oreja.png");
                background-repeat: no-repeat;
                width: 103px;
                height: 140px;
                transform: scale(0.6);
                margin-top: -12px;
                margin-left: 22px;
                position: absolute;
                transition: all 0.3s; 
                @media (max-width: $desktop){
                  display: none;
                }
              }
              &:hover{
                .oir-oreja{
                  transform: scale(1);  
                  @media (max-width: $desktop){
                    transform: initial;
                  }
                }             
              }
            }
            .leer{
              background-image: url("/static/assets/leer2.png");
              background-repeat: no-repeat;
              background-size: contain;
              width: 145px;
              height: 150px;
              left: 228px;
              top: 65px;
              position: absolute;
              transition: all 0.3s;
              @media (max-width: $desktopXL){
                width: 140px;
                height: 145px;
              }  
              @media (max-width: $desktopL){
                width: 135px;
                height: 140px;
                left: 200px;
                top: 62px;
              } 
              @media (max-width: $desktop){
                position: relative;
                display: inline-block;
                left: initial;
                top: initial;
                width: 145px;
                height: 190px;
                background-image: url("/static/assets/leerM.png"); 
              } 
              @media (max-width: $tablet){
                width: 122px;
                height: 168px;
              }
              @media (max-width: $mobile){
                width: 90px;
                height: 120px;
              }
              @media (max-width: $mobileL){
                width: 72px;
                height: 92px;
              } 
              &:hover{
                background-image: url("/static/assets/leer.png");
                @media (max-width: $desktop){
                  background-image: url("/static/assets/leerM.png"); 
                } 
              } 
            }

            
          }
        }

        .contentSlider {
          position: relative; 
          display: inline-block;
          width: 65%;
          vertical-align: middle;
          margin-top: -11%;
          margin-bottom: -4%;
          @media (max-width: $desktopXL){
            width: 60%;
          }   
          @media (max-width: $desktopL){
            width: 65%;
          } 
          @media (max-width: $desktop){
            width: 100%;
            margin-bottom: 0;
          }  

          .rec-slider-container {
            @media (max-width: $tablet){
              margin: 0;
            }
          }

          .item {
            outline: none;
            position: relative;
            .info-slider {
              position: absolute;
              bottom: 3%;
              left: 55%;
              transform: translate(-50%, -50%);
              z-index: 1;
              width: 80%;
              @media (max-width: $desktopXS){
                width: 90%;
                max-width: 580px;
                bottom: -10%;
              }
              @media (max-width: $tablet){
                width: 90%;
                max-width:580px;
                bottom: 15%;
              }  
              @media (max-width: $mobile){
                width: 90%;
                max-width: 400px;
                bottom: 3%;
              }

              .banner-icon {
                margin-bottom: 18px;
                @media (max-width: $desktop){
                  display: inline-block;
                  vertical-align: middle;
                  margin: 0 10px 0 0;
                }  
                .icon {
                  width: 100%;
                  max-width: 40px;
                }
              }

              .banner-tag {
                @media (max-width: $desktop){
                  display: inline-block;
                  vertical-align: middle;
                  margin-bottom: 0;
                }  
                .tag { 
                    color: white;
                    font-family: "Caveat Brush", cursive;
                    background: rgb(33, 192, 166);
                    width: 100%;
                    padding: 11px 20px;
                    font-size: 19px;
                    box-sizing: border-box;
                    display: initial;
                    clip-path: polygon(0 7%, 100% 15%, 100% 90%, 0 100%);
                }
              }

              h2 {
                color: white;
                margin-top: 26px;
                text-shadow: 2px 5px 8px rgb(0 0 0 / 65%);
                font-weight: 800;
                text-transform: uppercase;
                line-height: 3rem;
                @media (max-width: $desktop){
                  margin-top: 20px;
                }  
                @media (max-width: $tablet){
                  font-size: 1.4rem;
                  line-height: 1.6rem;
                }

              }

              .banner-date {
                color: white;
                margin-top: 18px;
                text-shadow: 2px 5px 8px rgb(0 0 0 / 80%);
                font-weight: 600;
              }


            }

            .imgBanner {
              position: relative;

              &:after{
                width: 100%;
                height: 92%;
                position: absolute;
                left: 0;
                top: 8%;
                background-color:#00000073;
                content: "";
              }

              img {
                width: 100%;
                //opacity: .7;
                @media (max-width: $tablet){
                  width: 130%;
                  margin-left: -15%;
                }
                @media (max-width: $mobile){
                  width: 150%;
                  margin-left: -25%;
                } 
              }
            }  

          }

          button.carousel-button {
            position: absolute;
            right: 50px;
            cursor: pointer;
            z-index: 9;
            background-image: url("/static/assets/left-arrow.png"); 
            width: 50px;
            height: 50px;  
            border: 0;      
            background-size: contain;
            background-color: transparent;
            bottom: 8%;
            outline: none;
            transform: scale(1);
            @media (max-width: $desktopL){
              right: 60px;  
            } 
            @media (max-width: $desktop){
              display: none;  
            } 

            img {
              display: none;
            }

            &:last-child {
              background-image: url("/static/assets/right-arrow.png");  
              right: 0;
              @media (max-width: $desktopL){
                right: 10px;  
              } 
            }
            &:hover{
              transform: scale(1.1);
            }
          }

          .content-dots {
            position: absolute;
            bottom: 8%;
            @media (max-width: $desktop){
              bottom: 14%;   
            } 
          }

        }

    }

  
  }
  .home-all-content{
      padding:90px 90px 50px 90px;
      @media (max-width: $desktop){
        padding:90px 90px 40px 90px;
      }
      @media (max-width: $mobile){
        padding:40px 0 30px 0;
      }
  }
  
  .control-buttons{
    float: right;
    display: inline-flex;
    margin-top: -97px;
    .next{
      background-image: url("/static/assets/right-arrow.png");      
      width: 50px;
      height: 50px;        
      background-size: 50px 50px;
      z-index: 1;   
    }
    .prev{
      background-image: url("/static/assets/left-arrow.png");      
      width: 50px;
      height: 50px;        
      background-size: 50px 50px;
      z-index: 1;
    }
  }