html {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: $beige-1;
  background-image: url(../../public/static/assets/back-body.png);
  overflow-x: hidden;
  font-size: 17px;
}

.content {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  @media (max-width: $desktopXL){
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.content-max {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.6rem;
  @media (max-width: $desktop){
    font-size: 2.3rem;
    line-height: 2.4rem;
  }
  @media (max-width: $mobile){
    font-size: 2rem;
    line-height: 2.1rem;
  }
}

h2 {
  font-size: 1.9rem;
  line-height: 2rem;
  @media (max-width: $desktop){
    font-size: 1.8rem;
    line-height: 1.9rem;
  }
  @media (max-width: $mobile){
    font-size: 1.7rem;
    line-height: 1.8rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  @media (max-width: $desktop){
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  @media (max-width: $mobile){
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}

p {
  font-size: 1rem;
}


a {
  font-size: 1rem;
  @media (max-width: $desktop){
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

ul, ol {
  font-size: 1rem;
  padding-left: 15px;
  @media (max-width: $desktop){
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

/*btns*/
.btn_p {
  @include btn_primary;
}

.btn_s {
  @include btn_secondary;
}

/*Citas*/
blockquote {
  background-color: white;
  text-align: center;
  padding: 50px;
  max-width: 900px;
  position: relative;
  margin: 20px auto 32px auto;
  box-sizing: border-box;
  border: 3px solid black;
  box-shadow: -11px 11px 0px 0px $beige;
  @media (max-width: $desktop){
    max-width: 94%;
    margin: 20px 0 32px 4%;
    padding: 40px 30px;
  }

  @media (max-width: $tablet){
    max-width: 90%;
    margin: 20px 0 32px 6%;
    padding: 40px 20px;
  }

  &:before {
    content: '';
    width: 80px;
    height: 50px;
    background: url(../../public/static/assets/comillas.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: -25px;
    left: 20px;
  }

  &:after {
    content: '';
    width: 80px;
    height: 50px;
    background: url(../../public/static/assets/comillas.png) no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    position: absolute;
    bottom: -25px;
    right: 20px;
 }

  h3 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 25px;
    @media (max-width: $tablet){
      line-height: 26px;
    }

  }

  p {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;
    font-style: italic;
    font-size: 1.4rem;
    @media (max-width: $tablet){
      line-height: 23px;
    }
  }

}


/*Adds*/
aside {
  &.publicidad {
    &.pauta_300x250 {
      img {
        width: 300px;
        height: 250px;
      }
    }
    &.pauta_970x90 {
      padding: 30px 0;
      box-sizing: border-box;
      text-align: center;

      img {
        width: 970px;
        height: 90px;
        @media (max-width: $desktopXS){
          width: 100%;
          max-width: 970px;
          height: auto;
         }
      }

      .content-add {
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        position: relative;

        .close-add-footer {
          position: absolute;
          top: -10px;
          right: -10px;
          z-index: 9;
          cursor: pointer;
          background: black;
          color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          font-size: 18px;
          font-weight: 500;
          text-align: center;
          display: flex;
          justify-content: center;
        }
        img {
          width: 970px;
          height: 90px;
          @media (max-width: $desktopXS){
            width: 100%;
            max-width: 970px;
            height: auto;
          }
        }
      }

      &.fix {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        height: 90px;
        padding: 0;
        transition: all 0.3s;
        @media (max-width: $desktopXS){
          width: 100%;
          height: auto;
          transition: initial;
        }

        &.Down {
          height: 0;
        }
      }

      &.home {
        padding: 40px 0 20px 0;
        @media (max-width: $mobile){
          padding: 30px 0 20px 0;
        }
      }
    }

    &.pauta_header {
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      position: relative;
      z-index: 1;
      transition: all .3s;
      height: 250px;
      @media (max-width: $desktop){
        height: auto;
        transition: initial;
      }

      &.Up {
        height: 0;
        opacity: 0;
      }

      .content-add {
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        position: relative;

        .close-add-header {
          position: absolute;
          top: 0px;
          right: 0px;
          z-index: 9;
          cursor: pointer;
          background: black;
          color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          font-size: 18px;
          font-weight: 500;
          text-align: center;
          display: flex;
          justify-content: center;
        }
        img {
          width: 970px;
          height: 250px;
          @media (max-width: $desktopXS){
            width: 100%;
            max-width: 970px;
            height: auto;
          }
        }
      }
      
    }

  }
}

.content-add-footer {
  text-align: center;
  position: fixed;
  width: 90%;
  max-width: 1600px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 0;
  transition: all 0.3s;
  @media (max-width: $tablet){
    width: 94%;
  }
  @media (max-width: $mobileL){
    width: 96%;
  }

  aside.publicidad.pauta_970x90 {
    padding: 0;
    height: 90px;
    transition: all 0.3s;
    @media (max-width: $desktopXS){
      width: 100%;
      height: auto;
      transition: initial;
    }

    &.Down {
      height: 0;
      .content-add {
        .close-add-footer {
          display: none;
        }
      }
    }

    img {
      width: 100%;
    }

  }


  .content-cookies {
    background-color: white;
    position: relative;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 200px 20px 30px;
    margin: 3px 0 8px 0;
    box-shadow: rgb(255 16 79) -5px 5px 0px 0px;
    @media (max-width: $desktopL){
      padding: 20px 180px 20px 30px;
    }
    @media (max-width: $tablet){
      padding: 15px 20px 15px 20px;
      margin: 3px 0 8px 3px;
    }

    &.Down {
      display: none;
    }

    p {
      margin: 0;
      box-sizing: border-box;
      font-size: .9rem;
      @media (max-width: $desktopL){
        font-size: .85rem;
      }
      @media (max-width: $tablet){
        text-align: center;
      }
    }

    a {
      color: black;
      text-decoration: underline;
      font-weight: 500;
    }

    .aceptar-cookies {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      background: url(../../public/static/assets/btn-aceptar.png) no-repeat;
      background-size: contain;
      width: 140px;
      height: 60px;
      margin: auto;
      cursor: pointer;
      @media (max-width: $desktopL){
        width: 125px;
        height: 53px;
      }
      @media (max-width: $tablet){
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
        margin: 14px auto 0 auto;
        right: initial;
        width: 115px;
        height: 50px;
      }
    }

  }
}


.card-body {
  padding-left:6%;
  @media (max-width: $desktop){
    font-size: 0.9rem;
    line-height: 1rem;
  }
}



/*btns*/
.btn_p {
  @include btn_primary;
}

.btn_s {
  @include btn_secondary;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  color: #2a2a2a !important;
  background-color: transparent !important;
  -webkit-background-clip: text;
}
