/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 25px;
    top: -2.6rem;
    z-index: 10000!important;

    button {
      outline: none;
    }

  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: white;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    display: none;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    display: none;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: absolute !important;
    height: 100vh !important;
    overflow: hidden;
    overflow-y: auto;
    z-index: 999 !important;

    nav.bm-item-list {
        padding-top: 40px;

        .bm-item.item-menu-mobile {
          a {
              padding-left: 20px;
          }

          .subItems-mobile {
            padding: 6px;
            li {
                padding: 6px 0;
            }
          }

        }

    }

  }
  
  /* General sidebar styles */
  .bm-menu {
    background: black;
    font-size: 1.15em;
    border-right: solid 5px;      
    //height: auto!important;
    font-family: "Caveat Brush", cursive;
    position: relative; 
    
    &:after {
      background-image: url(../../public/static/assets/border-box-bottom-v2.png);
      background-repeat: no-repeat;
      content: "";
      width: 100%;
      height: 9px;
      background-size: contain;
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
    }
  }
  
  #profile-name{
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
      &:after {
        content: '';
        width: 30px;
        height: 7px;
        background: url(../../public/static/assets/underline-menu.png) no-repeat;
        background-size: contain;
        display: block;
        margin-bottom: 2px;
        position: relative;
        margin-left: 0;
    }  

  } 

  .close-session {
    .menu-item.close-session {
      padding-left: 20px;
      font-family: "Jost", sans-serif;
      font-size: .75rem;
      margin-bottom: 10px;
      &:after {
          content: '';
          width: 22px;
          height: 11px;
          background: url(../../public/static/assets/ico-close-session.png) no-repeat;
          background-size: contain;
          display: inline-block;
          margin-bottom: 2px;
          position: relative;
          vertical-align: middle;
          margin-left: 6px;
      }
    }
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    /*padding: 0.8em;*/
    line-height: 40px;
    
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color:white;
    font-size: 16px;
    text-transform: uppercase;   
    .item-arrow-mobile{
      width: 13px;
      height: 10px;
      background: url(../../public/static/assets/arrow-main-menu.png) no-repeat;
      background-size: contain;
      float: right;
      margin-top:15px;
      margin-right: 15px;      
    }
   }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute!important;
    display:none;
  }
  .bm-burger-button  span:nth-child(1){
    border-radius: 5px;
    height: 12%!important;
    opacity: 1!important;  
  }
  .bm-burger-button  span:nth-child(2){
    width: 75%;
    border-radius: 5px;
    height: 12%!important;
    opacity: 1!important;    
  }
  .bm-burger-button  span:nth-child(3){
    width: 50%;
    border-radius: 5px;
    height: 12%!important;
    opacity: 1!important;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
  }
  .burguer-social-footer{
    text-align: center;
    margin-top: 20px;  
    margin-bottom: 15px;
    &:after{
        display: none;        
    }
    a{
        margin: 10px;
    }
  }
  .subItems-mobile{
      border-bottom: 1px solid gray;
      li{
        a{
          font-family: "Jost", sans-serif;
          font-weight: 500;
          font-size: 12px;
          text-transform: none;
        }
        &::marker{
          content:'';
        }
      }
      &:after{
          display: none;
      }
      a{
        color:gray;
        &:after{
          color: white;
          font-size: bold;
        }
      }
  }
  

  .item-capsule{
    @media (max-width: $desktop){ 
      border-bottom: 1px solid gray;
    }

    a {
      &:hover {
        color: whitesmoke;
      }
    }

    &:last-child {
      border: 0;
    }
  }

  .menu-burguer-container {
    display: none;
    position: relative;
    @media (max-width: $desktop){ 
      display: block;
    }
  }
  .perfil-text-mobile{
    display: inline-flex;
    color: whitesmoke;
    margin-left: 20px;
  }
  .perfil-redirect{
    width:100%;
  }
  .profile-btn-mobile{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
  }