.search-results{
    margin-top: 4.2rem;
    .search-selects{
        margin-top: 40px;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1150px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        @media (max-width: $desktopL){
            max-width: 900px;
          }
        .intern-search-input{
            margin-left: 20%;
            height: 40px;            
            background: transparent;
            border-bottom: 2px solid black;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            outline: none;
        }  
        .d-inline-block {
            display: inline-block;
            margin: 0 10px;
            width: 35%;
            @media (max-width: $desktopL){
                width: 25%;
              }

            .css-2b097c-container {
                width: 100%;

                .css-yk16xz-control {
                    background-color: transparent;
                    border: 0;
                    background: url(../../public/static/assets/input-search.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    min-height: 57px;
                    @media (max-width: $desktopL){
                        background: url(../../public/static/assets/input-search-m.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                      }
                    .css-g1d714-ValueContainer {
                        height: 45px;
                        outline: none;
                        // .css-1rhbuit-multiValue{
                        //     display: none;
                        //     .css-xb97g8{
                        //         display:none;
                        //     }
                        // }
                    }
                   
                }
                .css-xb97g8{
                    display:none;
                } 
                //Hover
                .css-1pahdxg-control {
                    box-shadow: initial;
                    background-color: transparent;
                    border: 0;
                    background: url(../../public/static/assets/input-search.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    min-height: 57px;
                    @media (max-width: $desktopL){
                        background: url(../../public/static/assets/input-search-m.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                      }
                    .css-g1d714-ValueContainer {
                        height: 45px;
                        outline: none;
                    }
                }

                .css-1rhbuit-multiValue {
                    background-color: transparent;
                    outline: none;
                }

                .css-tlfecz-indicatorContainer {
                    display: none;
                }

            }

        }

        button {
            color: #fff;
            background: black;
            height: 45px;
            border: 0;
            margin-left: 12px;
            width: 15%;
            padding: 11px 20px;
            font-size: 15px;
            box-sizing: border-box;
            display: inline;
            display: initial;
            -webkit-clip-path: polygon(0 7%, 100% 15%, 100% 90%, 0 100%);
            clip-path: polygon(0 7%, 100% 15%, 100% 90%, 0 100%);
        }
        .intern-search-click{
            position: absolute;
            width: 30px;
            height: 30px;
            float: right;
            right: 0px;
            top: 5px;
            cursor: pointer;
        }

    }
    .search-items-results{
        text-align: center;
        width: 100%;
        max-width: 1150px;
        margin: 40px auto 60px auto;
        @media (max-width: $desktopL){
            padding: 0 20px;
            box-sizing: border-box;
          }

        .search-content-card {
            margin-bottom: 20px;
            a {
                display: inline-flex;      
                justify-content: space-between;
                width: 100%;
                align-items: center; 
                @media (max-width: $mobile){
                    display: block;
                } 
                
                .card-search-grid-item-banner {
                    width: 30%;
                    z-index: 3;
                    @media (max-width: $tablet){
                        width: 45%;
                    }  
                    @media (max-width: $mobile){
                        width: 70%;
                        margin-left: 15%;
                    }
                    @media (max-width: $mobileL){
                        width: 100%;
                        margin-left: 0;
                    }
                    img.item-image-banner-search {
                        width: 100%;
                        height: 230px;
                        object-fit: cover;
                        object-position: center center;
                        border: 6px solid white; 
                        @media (max-width: $desktop){
                            height: 260px;
                        } 
                        @media (max-width: $mobile){
                            height: 150px;
                        }   
                    }
                }

                .search-grid-item-right-elements{
                    background: whitesmoke;               
                    z-index: 2;
                    width: 70%; 
                    padding: 30px 30px 7px 30px;
                    box-sizing: border-box;
                    @media (max-width: $tablet){
                        width: 55%;
                    } 
                    @media (max-width: $mobile){
                        width: 100%;
                        padding: 30px 20px 7px 20px;
                    }
                   
                    .search-grid-item-classification{             
                        text-align: left;
                        display: flow-root;
        
                        .search-grid-item-classification-text{ 
                            color: #fff;
                            background: brown;
                            font-family: "Caveat Brush", cursive;
                            width: 100%;
                            padding: 11px 20px;
                            font-size: 17px;
                            box-sizing: border-box;
                            display: initial;
                            clip-path: polygon(0 7%,100% 15%,100% 90%,0 100%);
                        }
                    }
                    .search-grid-item-footer{
                        display: flex;
                        justify-content: space-between;
                        border-top: 1px solid lightgray;
                        align-items: center;
                        padding-top: 5px;
                        .search-grid-item-footer-align{
                            display: flex;
                            .search-grid-item-character{
                                height: 40px;
                                margin-top: 3px;
                            }
                            .search-grid-item-class{
                                padding: 10px;
                                font-weight: bold;
                            }
                        }
                        .search-grid-item-date{
                            color: black;
                            font-style: italic;
                            margin: 0;
                            font-weight: bold;
                            font-size: .8rem;
                        }
                    }
                    .search-grid-item-title{
                        text-decoration: none;
                        color: black;
                        margin: 20px 0 16px 0;
                        text-align: initial;
                    }    
                }
                
                
            }
            
        } 


        .noItems {
            text-align: left;

            h2 {
                color: $red;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.7rem;
                line-height: 1.8rem;
                span {
                    font-family: "Caveat Brush", cursive;
                    font-size: 2rem;
                }
            }    
          
        }


    }

}

.activeFilters {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    .item {
        display: inline-block;
        margin: 30px 12px 0 0;
        vertical-align: middle;
        width: 160px;
        span {
            font-size: .9rem;
        }

        .close {
            font-family: "Caveat Brush", cursive;
            margin-left: 30px;
            border-right: 1px solid grey;
            padding-right: 12px;
            opacity: 1;
            font-size: 1rem;
            font-weight: 400;
            margin-top: 4px;
            cursor: pointer;
        }

        &:last-child {
            .close {
                border: 0;
            }
        }
    }
}
.clean-filters-button {
    color: #fff;
    background: black;
    height: 35px;
    border: 0;
    margin-left: 12px;
    width: 200px;
    padding: 11px 20px;
    font-size: 15px;
    box-sizing: border-box;
    display: inline;
    display: initial;
    -webkit-clip-path: polygon(0 7%, 100% 15%, 100% 90%, 0 100%);
    clip-path: polygon(0 7%, 100% 15%, 100% 90%, 0 100%);
}