.character-caption-mobile{   
    display: contents;    
    .character-caption-container{
        width: 300px;
        height: 220px;
        position: absolute;
        z-index: 99;
        margin: auto;
        font-size: 15px;
        margin-top: 122px;
        display: block;
        justify-content: center;
        border: solid 3px;
        background-color: #ffffff;
        box-shadow: #d4b149 -8px 8px;              
        .character-caption-name{
            width: 60%;
            display: block;
            padding: 10px 0px 0px 20px;
            font-family: "Caveat Brush", cursive;
            font-size: 40px;                    
        }
        .character-caption-description{
            width: 90%;
            display: block;
            padding: 10px 0px 0px 20px;
            font-size: 17px;
            font-weight: 500; 
        }
        .quote-marks-top{
            width: 100px;
            height: 100px;
            background: url('/static/assets/comillas.png');
            background-repeat: no-repeat;
            position: absolute;
            transform: scale(0.7);
            margin-top: -45px;
        }
        .quote-marks-bottom{
            width: 100px;
            height: 100px;
            background: url('/static/assets/comillas.png');
            background-repeat: no-repeat;
            position: absolute;
            float: left;
            transform: rotate(180deg) scale(0.7);
            margin-top: -30px;
            margin-left: 70%;
        } 
    }
    .button-character-mobile{
        width: 105px;
        height: 50px;
        margin-top: 370px;
        position: absolute;
        .ver-mas{
            background:url('/static/assets/ver-mas-yellow.png');
            background-repeat: no-repeat;
            height: 110px;
        }
    }    
}
.content-dots {
    z-index: 9;
    margin-top:-35px; 
    @media (max-width: $mobile){
      margin-top:-40px; 
    }
    span {
      display: inline-block;
      vertical-align: middle;
      color: white;
      font-size: 1rem;
    }
    .dots {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin: 0 15px;

      &:after {
        width: 100%;
        content: "";
        display: block;
        background-color: #ffffff36;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 1px;
        position: absolute;
        height: 1px;
      }
     
      .dot {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 2px;
        background-color: transparent;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        &.active {
          background-color: white;
        }
        

      }
    }
  }



@media screen and (max-width: $mob-port-max) {
    
 }
 @media screen and (min-width: $mob-land-min) and (max-width: $mob-land-max) {
   
 }
 @media screen and (min-width: $tab-land-min) and (max-width: $tab-land-max) {
    
 }
 @media screen and (min-width: $desk-small-min) and (max-width: $desk-small-max) {
    .character-caption-mobile{
        display: none;
    }
 }
 @media screen and (min-width: $desk-large-min) {
    .character-caption-mobile{
        display: none;
    }
 }