.characters-container-desktop{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .background{        
        width:1501px;
        height: 709px;
        display: inline-flex;           
        background-repeat: no-repeat!important;
        background: url('/static/assets/full-characters.png');    
    }
    .character{
        width: 25%;
        height:90%;
        background-color:transparent;                         
    }
    .characters{
        background-repeat: no-repeat!important;                     
    }
    .c1{
        width:1501px;
        height: 709px;
        display: inline-flex;       
    }
    .c2{
        width:1501px;
        height: 709px;
        display: inline-flex;
        background-repeat: no-repeat;        
    }
    .c3{
        width:1501px;
        height: 709px;
        display: inline-flex;        
    }  
    .c4{
        width:1501px;
        height: 709px;
        display: inline-flex;            
    }
    .character-caption-container{
        width: 30%;
        height: 30%;
        position: absolute;
        z-index: 99;
        margin: auto;
        font-size: 15px;
        margin-top: 350px;
        display: none;
        justify-content: center;
        border: solid 3px;
        background-color: #ffffff;
        box-shadow: #d4b149 -8px 8px;
        pointer-events: none;        
        .character-caption-name{
            width: 60%;
            display: block;
            padding: 10px 0px 0px 20px;
            font-family: "Caveat Brush", cursive;
            font-size: 40px;                    
        }
        .character-caption-description{
            width: 80%;
            display: block;
            padding: 10px 0px 0px 20px;
            font-size: 17px;
            font-weight: 500; 
        }
        .quote-marks-top{
            width: 100px;
            height: 100px;
            background: url('/static/assets/comillas.png');
            background-repeat: no-repeat;
            position: absolute;
            transform: scale(0.7);
            margin-top: -45px;
        }
        .quote-marks-bottom{
            width: 100px;
            height: 100px;
            background: url('/static/assets/comillas.png');
            background-repeat: no-repeat;
            position: absolute;
            float: left;
            transform: rotate(180deg) scale(0.7);
            margin-top: -45px;
            margin-left: 70%;
        } 
    }    
}
@media screen and (max-width: $mob-port-max) {
    .characters-container-desktop{
        display: none;
    }
 }
 @media screen and (min-width: $mob-land-min) and (max-width: $mob-land-max) {
    .characters-container-desktop{
        display: none;
    }
 }
 @media screen and (min-width: $tab-land-min) and (max-width: $tab-land-max) {
    .characters-container-desktop{
        display: none;
    }
 }
 @media screen and (min-width: $desk-small-min) and (max-width: $desk-small-max) {
    .characters-background{
        margin-left:-30px;
    }
 }
 @media screen and (min-width: $desk-large-min) {
    .character-caption-container{
        width: 20%!important;
        height: 20%!important;
    }   
 }


 .personajes-content {
     text-align: center;
     margin: 20px 0;
     @media (max-width: $tablet){
        display: none;
    }

     .background-inicial {
        width: 100%;
        max-width: 1433px;
        margin: 0 auto;
        position: relative;
        @media (max-width: $desktopXL){
            max-width: 1500px;
        }
        @media only screen and (min-width: $desktopXL){
            max-width: 1620px;
        }

        &.inactive {
            .paloma-caption-container,
            .semaforo-caption-container,
            .rata-caption-container,
            .payaso-caption-container {
                display: none;
            }
        }

        &:before {
            width: 4%;
            height: 100%;
            display: block;
            content: "";
            background: url('/static/assets/border-lateral-characters.png');
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            z-index: 2;
            top: 0;
            top: 5.5%;
            @media (max-width: $desktopXL){
                display: none;
            } 
        }

        &:after {
            width: 4%;
            height: 100%;
            display: block;
            content: "";
            transform: rotate(180deg);
            background: url('/static/assets/border-lateral-characters.png');
            background-repeat: no-repeat;
            position: absolute;
            right: -1px;
            z-index: 2;
            top: -5.5%;

            @media (max-width: $desktopXL){
                display: none;
            } 
        }
        img {
            width: 100%;
        }

        .za-paloma {
            width: 25%;
            height: 50%;
            //background-color: red;
            opacity: .3;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 9;
        }

        .za-semaforo {
            width: 25%;
            height: 50%;
            //background-color: blue;
            opacity: .3;
            display: block;
            position: absolute;
            top: 0;
            left: 25%;
            cursor: pointer;
            z-index: 9;
        }

        .za-rata {
            width: 25%;
            height: 50%;
            //background-color: red;
            opacity: .3;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            cursor: pointer;
            z-index: 9;
        }

        .za-payaso {
            width: 25%;
            height: 50%;
            //background-color: blue;
            opacity: .3;
            display: block;
            position: absolute;
            top: 0;
            left: 75%;
            cursor: pointer;
            z-index: 9;
        }

        .paloma {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            &:hover {
                display: block;
            }

            &.active {
                display: block;
            }

            .back-paloma {
                img {
                    width: 100%;
                }
            }
        }

        .semaforo {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            &:hover {
                display: block;
            }

            &.active {
                display: block;
            }

            .back-semaforo {
                img {
                    width: 100%;
                }
            }
        }

        .rata {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            &:hover {
                display: block;
            }

            &.active {
                display: block;
            }

            .back-rata {
                img {
                    width: 100%;
                }
            }
        }

        .payaso {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            &:hover {
                display: block;
            }

            &.active {
                display: block;
            }

            .back-payaso {
                img {
                    width: 100%;
                }
            }
        }

        .paloma-caption-container,
        .semaforo-caption-container,
        .rata-caption-container,
        .payaso-caption-container {
            background-color: white;
            text-align: left;
            padding: 30px;
            max-width: 400px;
            margin: 20px auto 32px auto;
            box-sizing: border-box;
            border: 3px solid black;
            box-shadow: -6px 6px 0px 0px $beige;
            position: absolute;
            bottom: 50px;
            left: 25%;
            transition: all 0.5s;
            opacity: 0;
            @media (max-width: $desktopL){
                padding: 25px;
                max-width: 350px;
            }
            @media (max-width: $desktop){
                padding: 20px;
                max-width: 300px;
                bottom: 70px;
            }  

            &.active {
                opacity: 1;
                bottom: 90px;
               
                @media (max-width: $desktop){
                    bottom: 70px;
                }
            }

            &:before {
                content: '';
                width: 54px;
                height: 38px;
                background: url(../../public/static/assets/comillas.png) no-repeat;
                background-size: contain;
                position: absolute;
                top: -22px;
                left: 20px;
                @media (max-width: $desktopL){
                    width: 40px;
                    height: 30px;
                }
              }
            
              &:after {
                content: '';
                width: 54px;
                height: 38px;
                background: url(../../public/static/assets/comillas.png) no-repeat;
                background-size: contain;
                transform: rotate(180deg);
                position: absolute;
                bottom: -20px;
                right: 20px;
                @media (max-width: $desktopL){
                    width: 40px;
                    height: 30px;
                }
             }

             h3 {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                font-size: 2.4rem;
                font-family: "Caveat Brush", cursive;    
                @media (max-width: $desktopL){
                    font-size: 2rem;
                }        
              }

              p {
                width: 100%;
                max-width: 450px;
                margin: 0 auto;
                border-top: 1px solid black;
                margin-top: 16px;
                padding-top: 16px;
                font-style: italic;
                font-size: 1.1rem;
                line-height: 1.3rem;
                @media (max-width: $desktopL){
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    font-size: 1rem;
                    line-height: 1.2rem;
                }
              }

              a {
                background: url(../../public/static/assets/ver-mas-characters.png) no-repeat;
                background-size: contain;
                width: 100px;
                height: 44px;
                display: block;
                text-indent: -80px;
                overflow: hidden;
                position: absolute;
                bottom: -65px;
                @media (max-width: $desktop){
                    width: 90px;
                    height: 38px;
                    bottom: -58px;
                }
              }
        }

        .semaforo-caption-container {
            left: 40%;
        }

        .rata-caption-container {
            left: 44%;
        }

        .payaso-caption-container {
            left: 57%;
        }

     }

 }

 .slider-personajes {
     display: none !important;
     @media (max-width: $tablet){
            display: block !important;
            margin: 25px 0 60px 0;
        }

        .rec-carousel-item {
            position: relative;

            &:after {
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6418942577030813) 51%, rgba(253,193,81,0) 100%);
                width: 100%;
                height: 100px;
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
            }

            
            .personajes-item {
                width: 100%;
                max-width: 450px;
                position: relative;
                overflow: hidden;
                @media (max-width: $mobileL){
                    max-width: initial;
                }
                @media (max-width: $tablet){
                    max-width:none;
                }
                @media (max-width: $mobile){
                    max-width:450px;
                }
                
                &:before {
                    width: 15px;
                    height: 100%;
                    display: block;
                    content: "";
                    background: url('/static/assets/border-lateral-characters-m.png');
                    background-repeat: repeat-y;
                    position: absolute;
                    left: 0;
                    z-index: 2;
                    top: 0;
                    @media (max-width: $mobileL){
                        background: url('/static/assets/border-characters-m.png');
                        width: 100%;
                        height: 15px;
                        top: initial;
                        bottom: 0;
                    }
                }
        
                &:after {
                    width: 15px;
                    height: 100%;
                    display: block;
                    content: "";
                    transform: rotate(180deg);
                    background: url('/static/assets/border-lateral-characters-m.png');
                    background-repeat: repeat-y;
                    position: absolute;
                    right: -1px;
                    z-index: 2;
                    top: 0;
                    @media (max-width: $mobileL){
                        background: url('/static/assets/border-characters-m.png');
                        width: 100%;
                        height: 15px;
                    }
                }

                img {
                    width: 100%;
                }
            }

            .caption-container {
                background-color: white;
                text-align: left;
                padding: 20px;
                margin: 20px auto 32px auto;
                box-sizing: border-box;
                border: 3px solid black;
                box-shadow: -6px 6px 0px 0px $beige;
                position: absolute;
                bottom: 70px;
                transition: all 0.5s;
                z-index: 9;
                left: 10%;
                width: 80%;
    
                &:before {
                    content: '';
                    width: 40px;
                    height: 30px;
                    background: url(../../public/static/assets/comillas.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: -22px;
                    left: 20px;
                  }
                
                  &:after {
                    content: '';
                    width: 40px;
                    height: 30px;
                    background: url(../../public/static/assets/comillas.png) no-repeat;
                    background-size: contain;
                    transform: rotate(180deg);
                    position: absolute;
                    bottom: -20px;
                    right: 20px;
                 }
    
                 h3 {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;
                    font-size: 2rem;
                    font-family: "Caveat Brush", cursive;        
                  }
    
                  p {
                    width: 100%;
                    max-width: 450px;
                    margin: 0 auto;
                    border-top: 1px solid black;
                    margin-top: 16px;
                    padding-top: 16px;
                    font-style: italic;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    font-size: 1rem;
                    line-height: 1.2rem;
                  }
    
                  a {
                    background: url(../../public/static/assets/ver-mas-characters.png) no-repeat;
                    background-size: contain;
                    width: 90px;
                    height: 38px;
                    bottom: -58px;
                    display: block;
                    text-indent: -80px;
                    overflow: hidden;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                  }
            } 

        }

        .content-dots {
            text-align: center;
            position: relative;
        }
   
 }