  .bannerContactenos {
    background-color: black;
    border-bottom: 60px solid transparent;
    border-image: url(../../public/static/assets/line-black.png) 60 round;
    border-image-outset: 60px;
    background-image: url(../../public/static/assets/back-banner.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 220px;
    @media (max-width: $desktopL){
      border-bottom: 20px solid transparent;
      border-image: url(../../public/static/assets/line-black.png) 40 round;
      border-image-outset: 20px;
      background-position: 0 260px;
      background-size: 200px;
    }
    @media (max-width: $desktopXS){
      background-position: bottom left;
    }
    @media (max-width: $mobile){
      background-image: initial;
      border-image: url(../../public/static/assets/line-black-m.png) 40 round;
      border-image-outset: 20px;
    }



  .content-max.contactenos {
    background-color: black;
    .content {
      @media (max-width: $desktopXS){
        padding: 0;
      }
      .Contactenos {
        @media (max-width: $desktopXS){
          flex-direction: column-reverse;
          display: flex;
        }
        .info {
          display: inline-block;
          vertical-align: top;
          width: 42%;
          font-size: 13px;
          position: relative;
          height: 490px;
          @media (max-width: $desktopL){
            height: 440px;
          }
          @media (max-width: $desktopXS){
            width: 100%;
            max-width: 480px;
            margin: -270px auto 0 auto;
            display: block;
            height: auto;
          }

          @media (max-width: $tablet){
            width: 90% !important;
            padding-left: 4px;
            margin: -505px auto 0 auto;
          }

          .content-info {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 520px;
            margin-top: 100px;
            background-color: white;
            padding: 5px 50px 45px;
            box-sizing: border-box;
            box-shadow: -13px 13px 0px 0px $aquamarine;
            @media (max-width: $desktopL){
              left: 20px;
              padding: 5px 30px 30px;
              width: 510px;
              margin-top: 60px;
            }
            @media (max-width: $desktopXS){
              width: 100%;
              max-width: initial;
              position: relative;
              transform: initial;
              top: initial;
              height: auto;
              margin-bottom: 30px;
              margin-top: 0;
              left: 0;
            }
            @media (max-width: $tablet){ 
              box-shadow: -8px 8px 0px 0px $aquamarine;
              padding:5px 20px 30px ;
              transform: translateY(25%);
            }

            h1 {
              text-transform: uppercase;
              font-weight: 600;
              color: black;
              font-size: 1.9rem;
              line-height: 2rem;
              font-weight: bold;
              margin: 30px 0;
              @media (max-width: $desktop){
                font-size: 1.8rem;
                line-height: 1.9rem;
                margin: 25px 0;
              }
              @media (max-width: $tablet){
               margin-bottom: 20px;
               font-size: 1.7rem;
               line-height: 1.8rem;
              }
            }

            .phone {
              margin-bottom: 20px;
              position: relative;
              @media (max-width: $tablet){
                min-height: 40px;
              }
              i {
                background-size: contain;
                width: 60px;
                height: 60px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                @media (max-width: $desktopL){
                  width: 50px;
                  height: 50px;
                }
                @media (max-width: $tablet){
                  position: absolute;
                  width: 40px;
                  height: 40px;
                  margin: 0;
                }
              }

              .copy {
                display: inline-block;
                vertical-align: middle;
                width: 330px;
                @media (max-width: $tablet){
                  padding-left: 52px;
                  width: 100%;
                  box-sizing: border-box;
                }
                p {
                    margin: 0;
                    line-height: 1.5rem;
                    @media (max-width: $tablet){
                      font-size: .9rem;
                      line-height: 1rem;
                     }
                }

                a {
                  color: black;
                  @media (max-width: $tablet){
                    font-size: .9rem;
                    line-height: 1rem;
                   }
                }

              }
              
            }

            .calendar {
              margin-bottom: 20px;
              position: relative;
              @media (max-width: $tablet){
                min-height: 40px;
              }
              i {
                background-size: contain;
                width: 60px;
                height: 60px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                @media (max-width: $desktopL){
                  width: 50px;
                  height: 50px;
                }
                @media (max-width: $tablet){
                  position: absolute;
                  width: 40px;
                  height: 40px;
                  margin: 0;
                }
              }

              .copy {
                display: inline-block;
                vertical-align: middle;
                width: 330px;
                @media (max-width: $tablet){
                  padding-left: 52px;
                  width: 100%;
                  box-sizing: border-box;
                }
                p {
                  margin: 0;
                  line-height: 1.5rem;
                  @media (max-width: $tablet){
                    font-size: .9rem;
                    line-height: 1rem;
                   }
                }

              }
              
            }

            .email {
              margin-bottom: 20px;
              position: relative;
              @media (max-width: $tablet){
                min-height: 40px;
              }
              i {
                background-size: contain;
                width: 60px;
                height: 60px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                @media (max-width: $desktopL){
                  width: 50px;
                  height: 50px;
                }
                @media (max-width: $tablet){
                  position: absolute;
                  width: 40px;
                  height: 40px;
                  margin: 0;
                }
              }

              .copy {
                display: inline-block;
                vertical-align: middle;
                width: 330px;
                
                @media (max-width: $tablet){
                  padding-left: 52px;
                  width: 100%;
                  box-sizing: border-box;
                }
                p {
                  margin: 0;
                  line-height: 1.5rem;
                  @media (max-width: $tablet){
                    font-size: .9rem;
                    line-height: 1rem;
                   }
                }

              }
              
            }

            .place {
              position: relative;
              
              @media (max-width: $tablet){
                min-height: 40px;
              }
              i {
                background-size: contain;
                width: 60px;
                height: 60px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                @media (max-width: $desktopL){
                  width: 50px;
                  height: 50px;
                }
                @media (max-width: $tablet){
                  position: absolute;
                  width: 40px;
                  height: 40px;
                  margin: 0;
                }
              }

              .copy {
                display: inline-block;
                vertical-align: middle;
                width: 330px;
                
                @media (max-width: $tablet){
                  padding-left: 52px;
                  width: 100%;
                  box-sizing: border-box;
                }
                p {
                  margin: 0;
                  line-height: 1.5rem;
                  @media (max-width: $tablet){
                    font-size: .9rem;
                    line-height: 1rem;
                   }
                }

              }
              
            }

          }

        }

        .image-banner {
          display: inline-block;
          vertical-align: top;
          width: 58%;
          height: 470px;
          @media (max-width: $desktopL){
            height: 440px;
          }
          @media (max-width: $desktopXS){
            width: 100%;
            max-width: 680px;
            margin: 0 auto;
            display: block;
          }
          @media (max-width: $tablet){
            height: auto;
          }

          img {
            width: 133%;
            margin-top: -20%;
            margin-left: -8%;
            @media (max-width: $desktopL){
              margin-top: -11%;
              max-width: 680px;
              margin-left: 0;
            }
            @media (max-width: $desktopXS){
              margin-top: 20px;
              width: 100%;
            }
            @media (max-width: $tablet){
              object-fit: cover;
              object-position: center center;
              height: 500px;
            }
          } 

        }

      }
    }
  }

  }

  .preguntas-frecuentes {
    background-color: $beige-3;
    background-image: url(../../public/static/assets/back-body.png);

    .content {
      padding: 11rem 0 5rem 0;
      box-sizing: border-box;
      @media (max-width: $tablet){ 
        padding: 8rem 0 3rem 0;
      }
      .title {
        text-align: center;
        @media (max-width: $desktopL){
          padding:0 20px;
          box-sizing: border-box;
        }

        h2 {
          text-transform: uppercase;
          color: black;
          border-bottom: 25px solid transparent;
          border-image: url(../../public/static/assets/red-line-title.png) 30 round;
          width: 100%;
          max-width:  415px;
          margin: 0 auto 10px auto;
          font-weight: bold;
          @media (max-width: $mobileL){
           font-size: 1.4rem;
            line-height: 1.8rem;
          }
        }

        p {
          width: 100%;
          max-width: 640px;
          margin: 0 auto;
        }

      }

      #accordion {
        margin-top: 50px;
        @media only screen and (max-width:$tablet) {
          padding: 0 10px;
        }
        .card {
          background: transparent;
          border: 0;
          outline: initial;
          border-bottom: 1px solid $grey;

          .card-header {
              background: transparent;
              border-bottom: 0;

              h2 {
                outline: initial;
                position: relative;

                .btn {
                  color: black;
                  font-weight: bold;
                  text-decoration: none;
                  box-shadow: initial;
                  padding-right: 35px;
                  box-sizing: border-box;
                  position: relative;
                  @media (max-width: $desktop){
                    font-size: 0.9rem;
                    line-height: 1rem;
                    padding: 0 35px 0 0;
                  }

                  &:before {
                    background-image: url(../../public/static/assets/pointer-acordeon.svg);
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    content: "";
                    @media (max-width: $desktop){
                      margin-right: 5px;
                    }
                  }

                  &:after {
                    background-image: url(../../public/static/assets/acordeon-less.svg);
                    background-size: contain;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                    content: "";
                    position: absolute;
                    right: 0;
                    @include hover-transition-3;
                    top: 50%;
                    transform: translateY(-50%);
                  }

                  &.collapsed {
                    &:after {
                      background-image: url(../../public/static/assets/acordeon-more.svg);
                      background-size: contain;
                      transform: translateY(-50%) rotate(180deg);
                    }
                  }

                }

              }
          }

          .collapse {
            .card-body {
              padding:0 6%;
              @media (max-width: $desktop){
                padding:0 8%;
              }
              p{
                @media (max-width: $desktop){
                
                  font-size: 0.9rem;
                  line-height: 1.4rem;
                
                }
              }
              
            }
          }

        }

      }

    }

  }