.accountMain{ 
    .account-background{
        width: 100%;
        height: 760px;
        background-color: black;
        display: block;
        background-color: black;
        border-bottom: 60px solid transparent;
        border-image: url(../../public/static/assets/line-black.png) 60 round;
        border-image-outset: 60px;    
        position: relative;
        background-repeat: no-repeat;
        background-position: 0 220px;
        margin-bottom: 70px;
        @media (max-width: $tablet){
            border-image: url(../../public/static/assets/line-black-m.png) 40 round;
            border-image-outset: 35px;
            border-bottom: 35px solid transparent;
          }
          @media (max-width: $mobile){
            height: 1030px;
          }

        &.socialContent {
            @media (max-width: $mobile){
                height: 805px;
              }
        }  
        
        .background-drops{
            width: 50%;
            height: 100%;
            background-image: url(../../public/static/assets/back-banner.png);
            @media (max-width: $tablet){
                width: 75%;
              }   
            @media (max-width: $mobile){
                width: 100%;
              }              
        }
        
        .account-info{
            width: 100%;
            max-width: 690px;
            background-color: whitesmoke;
            position: absolute;
            margin-top: 35px;
            margin-left: -240px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 1px 7px #000000a1, #21c0a6 -14px 14px;
            @media (max-width: $desktopXL){
                max-width: 590px;
              }
            @media (max-width: $desktopLS){
                margin-left: -130px;
            }
            @media (max-width: $desktop){
                margin-left: 0;
            }
            @media (max-width: $tablet){
                max-width: 500px;
              }
            @media (max-width: $mobile){
                max-width: 90%;
                margin-left: 7px;
                margin-top: 40px;
            }
            .submit-button-update{
                background:url(../../public/static/assets/background-button-red.png);
                background-repeat: no-repeat;
                width: 150px;
                height: 82px;
                margin: auto;
                background-size: 150px;
                margin-top: 50px;
                transition: all .3s;
                border: none;
                cursor: pointer;
                font-family: 'Caveat Brush';
                color: white;
                padding-bottom: .7rem;
                text-transform: uppercase;  
                display: flex;
                justify-content: center;
                align-items: center;   
                font-size: 1.2rem;     
                border: none; 
                &:hover{
                    transform: scale(1.15);
                    @media (max-width: $tablet){
                        transform: scale(1);
                    }
                }
            }
            .account-info-content{
                max-width: 518px;
                margin: auto;
                padding: 20px;
                box-sizing: border-box;
                @media (max-width: $mobile){
                    max-width: 320px;
                }
                .account-info-title{
                    font-weight: bold;
                    margin-left: auto;
                    text-align: center;
                    margin-top: 20px;
                    font-size: 1.2rem;
                    line-height: 1.3rem;
                    margin-bottom: 20px;            
                }
                
                .account-info-data {
                    label {
                      font-weight: bold;
                      display: block;
                      margin-bottom: 0;
                    }
                    
                    .Name,
                    .LastName {
                        width: 47.5%;
                        display: inline-block;
                        margin-right: 2%;
                        margin-bottom: 20px;
                        @media (max-width: $mobile){
                            width: 100%;
                            margin-right: 0;
                        }
                        .box-input {
                            background: url(../../public/static/assets/left-imput-b-register.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            @media (max-width: $mobile){
                                background: url(../../public/static/assets/left-imput-b-m.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                                }

                                input {
                                    width: 100%;  
                                    background-color: transparent; 
                                    border: 0;
                                    padding: 14px 20px 10px 20px;
                                    box-sizing: border-box;
                                    outline: initial;
                                    font-size: .9rem;
                                }
                        }

                        p.user-name-warning,
                        p.user-lastname-warning {
                            position: absolute;
                            color: $red;
                            font-size: .9rem;
                            margin: -3px 0 0 0;
                            @media (max-width: $mobile){
                                margin: 2px 0 0 0;
                            }
            
                            &:before {
                                width: 13px;
                                height: 13px;
                                display: inline-block;
                                background: url(../../public/static/assets/ico-alert.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: "";
                                margin-right: 7px;
                            }
                        }

                    }

                    .Email {
                        width: 100%;
                        display: block;
                        margin-bottom: 20px;
                        .box-input {
                            background: url(../../public/static/assets/left-imput-b.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            @media (max-width: $mobile){
                                background: url(../../public/static/assets/left-imput-b-m.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                              }

                              input {
                                width: 100%;  
                                background-color: transparent; 
                                border: 0;
                                padding: 14px 20px 10px 20px;
                                box-sizing: border-box;
                                outline: initial;
                                font-size: .9rem;
                            }
                        }

                        p.user-email-warning {
                            position: absolute;
                            color: $red;
                            font-size: .9rem;
                            margin: -3px 0 0 0;
                            @media (max-width: $mobile){
                                margin: 2px 0 0 0;
                            }
            
                            &:before {
                                width: 13px;
                                height: 13px;
                                display: inline-block;
                                background: url(../../public/static/assets/ico-alert.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: "";
                                margin-right: 7px;
                            }
                        }
                    }

                    .TipeDocument,
                    .Document {
                        width: 47.5%;
                        display: inline-block;
                        margin-right: 2%;
                        margin-bottom: 12px;
                        @media (max-width: $mobile){
                            width: 100%;
                            margin-right: 0;
                        }
                        .box-input {
                            background: url(../../public/static/assets/left-imput-b-register.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            @media (max-width: $mobile){
                                background: url(../../public/static/assets/left-imput-b-m.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                                }

                                input,
                                select {
                                    width: 100%;  
                                    background-color: transparent; 
                                    border: 0;
                                    padding: 12px 20px 10px 20px;
                                    box-sizing: border-box;
                                    outline: initial;
                                    font-size: .9rem;
                                }
                        }

                        p.user-tipedoc-warning,
                        p.user-doc-warning {
                            position: absolute;
                            color: $red;
                            font-size: .9rem;
                            margin: -3px 0 0 0;
                            @media (max-width: $mobile){
                                margin: 2px 0 0 0;
                            }
            
                            &:before {
                                width: 13px;
                                height: 13px;
                                display: inline-block;
                                background: url(../../public/static/assets/ico-alert.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: "";
                                margin-right: 7px;
                            }
                        }
                    }

                    label.btnChangePass {
                        text-decoration: underline;
                        width: 100%;
                        box-sizing: border-box;
                        text-align: center;
                        margin-top: 10px;
                        cursor: pointer;
                        margin-bottom: 15px;
                        margin: 15px 0 25px;
                    }

                    .change-password {
                        .Pass {
                            width: 48%;
                            display: inline-block;
                            margin-right: 2%;
                            margin-bottom: 20px;
                            @media (max-width: $mobile){
                                width: 100%;
                                margin-right: 0;
                            }

                            .box-input {
                                background: url(../../public/static/assets/left-imput-b-register.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                                @media (max-width: $mobile){
                                    background: url(../../public/static/assets/left-imput-b-m.svg);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    }
    
                                    input {
                                        width: 100%;  
                                        background-color: transparent; 
                                        border: 0;
                                        padding: 14px 20px 10px 20px;
                                        box-sizing: border-box;
                                        outline: initial;
                                        font-size: .9rem;
                                    }

                                    .eye {
                                        width: 46px;
                                        height: 33px;
                                        background: url(../../public/static/assets/showpass-2-new.svg);
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        right: 0;
                                        top: 7px;
                                        cursor: pointer;
                                        @media (max-width: $mobile){
                                            width: 48px;
                                            height: 35px;
                                            top: 10px;
                                          }

                                    }


                                    &.actual,
                                    &.new {
                                        &.open {
                                              .eye {
                                                background-position-y: -35px;
                                                @media (max-width: $mobile){
                                                    background-position-y: -36px;
                                                  }
                                              }
                                        }
                                    }
                            }
                        }
                    }

                    .legalPass {
                        font-size: 0.8rem;
                        line-height: 0.9rem;
                    }

                }
                
                
            }
        }
        .background-banner{
            background: url(../../public/static/assets/bannerRegister.png);
            width: 100%;
            height: 130%;
            max-width: 1200px;
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain !important;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: 440px;
            margin-top: 50px;
            @media (max-width: $desktop){
                margin-left: 0;
                margin-top: -16px;
                height: 610px;
                width: 827px;
            }
            @media (max-width: $tablet){
                top: 175px;
                height: 469px;
                width: 640px;
            }
        }
    }  
}
