.floatin-button-container{
    width:90px;
    height:240px;
    position:absolute;
    right:0px;
    bottom:0px;
    cursor: pointer;
    .floatin-button{
        width: 94px;
        height: 90px;
        position: fixed;            
        transition:.3s;
        background-image: url('/static/assets/floatin-button.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: initial;
        z-index: 100000;
        bottom: 0;
        opacity: 0;
        @media (max-width: $desktop){
            width:85px;
            height:82px; 
          }

          &:hover {
            width: 105px;
            height: 100px;
            @media (max-width: $desktop){
                width:85px;
                height:82px; 
              }
          }

        .floatin-boxes-container{
            margin-top: -290px;
            margin-left: -105px;
        }
    }     
    .floatin-button:active{
        transform:scale(1.2);
    }
    .floatin-box{
        width: 168px;
        height: 70px;
    }
    #oirf{
        background-image: url('/static/assets/oreja.png');
        background-repeat: no-repeat;
        display: block;
        &:hover{
            background-image: url('/static/assets/oreja2.png');
            @include floatin-hover-boxes;
        }
    }
    #verf{
        background-image: url('/static/assets/ojo.png');
        background-repeat: no-repeat;
        display: block;
        &:hover{
            background-image: url('/static/assets/ojo2.png');
            @include floatin-hover-boxes;            
        }
    }
    #randomf{
        background-image: url('/static/assets/nariz.png');
        background-repeat: no-repeat;
        display: block;
        &:hover{
            background-image: url('/static/assets/nariz2.png');
            @include floatin-hover-boxes;            
        }
    }
    #leerf{
        background-image: url('/static/assets/boca.png');
        background-repeat: no-repeat;
        display: block;
        &:hover{
            background-image: url('/static/assets/boca2.png');
            @include floatin-hover-boxes;            
        }
    }
}
@media screen and (min-width: $desk-small-min) and (max-width: $desk-small-max) {
    .floatin-button{
        bottom: 0px;
    }
}
@media screen and (min-width: $desk-large-min) {
    .floatin-button{
        bottom: 110px;
    }
}

body.scroll{
    .floatin-button-container{
        .floatin-button{
           opacity: 1;
           transition: .3s ease-in-out;
        }
    }
}

  