footer {
  background-color: black;
  border-top: 10px solid transparent;
  border-image: url(../../public/static/assets/footer-line.png) 30 round;
  border-image-outset: 10px;
  background-image: url(../../public/static/assets/back-footer.png);
  z-index: 3;
  position: relative;

  .content {
    font-size: 0;
    padding: 20px 20px 30px 20px;
    box-sizing: border-box;
    @media (max-width: $desktop){
        padding-top: 40px;
    }
    @media (max-width: $tablet){
      padding: 20px 20px 30px 20px;
    }
    @media (max-width: $mobile){
      padding: 20px 0 30px 0;
    }

    .brand {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        @media (max-width: $desktopXS){
          width: 16%;
        }
        @media (max-width: $desktop){
          width: 100%;
          text-align: center;
        }

        img {
          width: 100%;
          max-width: 120px;
          margin-top: -70px;
          @media (max-width: $desktopXS){
            max-width: 100px;
          }
          @media (max-width: $desktop){
            max-width: 80px;
            margin-top: -110px;
          }
        }

    }

    nav {
        display: inline-block;
        vertical-align: top;
        width: 60%;
        @media (max-width: $desktopXS){
          width: 64%;
        }
        @media (max-width: $desktop){
          width: 80%;
          padding-left: 5%;
          box-sizing: border-box;
        }
        @media (max-width: $tablet){
          width: 100%;
          padding-left: initial;
        }

        .colum-footer {
            display: inline-block;
            width: 25%;
            vertical-align: top;
            @media (max-width: $mobile){
              width: 100%;
              border-bottom: 1px solid $grey-1;
              margin-bottom: 10px;
              padding: 0 20px 10px 20px;
            }

            ul {
              &.active {

                h3 {
                  background-color: $grey-1;
                  padding: 6px 12px;
                  transition: all .3s;
                  margin-bottom: 10px;

                  span {  
                    margin-top: -5px;
                  }

                }

                li {
                  display: block;
                }
              }
            }

            h3 {
              color: white;
              font-family: 'Caveat Brush', cursive;
              margin-bottom: 15px;
              position: relative;
              @media (max-width: $mobile){
               margin-bottom: 0;
              }

              span {
                background-image: url(../../public/static/assets/down-menu-footer.svg);
                background-size: cover;
                width: 10px;
                height: 10px;
                display: none;
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: $mobile){
                  display: block;
                }
              }

              a {
                color: white;
                text-decoration: none;
                font-size: 1.2rem;

              }

            }
            .footer-menu-item{
              display: block;
              width: 310px;
              .arrow-menu-footer{
                  background-image: url(../../public/static/assets/down-menu-footer.svg);
                  background-size: cover;
                  width: 10px;
                  height: 10px;    
                  transform: translateY(-50%);
                  float: right;
                  margin-top: -10px;
                  @media (min-width: $desk-small-min){
                    display: none;
                  }
              }
            }

            ul {
              margin: 0;
              padding: 0;
              list-style: none;

              li {
                font-size: .9rem;
                color: White;
                line-height: 25px;
                @media (max-width: $mobile){
                  display: none;
                  padding-left: 12px;
                }

                a {
                  color: white;
                  font-size: .8rem;
                  font-family: 'Jost';
                  font-weight: 300;
                }
              }
            }

        }

    }

    .content-social {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        text-align: left;
        padding-left: 5%;
        @media (max-width: $tablet){
          width: 100%;
          margin-top: 20px;
          padding-left: 0;
          text-align: center;
        }

        p {
          font-size: .9rem;
          color: white;
          padding-left: 5px;
        }

        a {
          margin: 0 5px;
        }

        .modo-oscuro {
          margin-top: 30px;
          display: none;
          .switch {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 28px;

            input { 
              opacity: 0;
              width: 0;
              height: 0;

              &:checked + .slider {
                background-color: #040404;
                border: 1px solid white;

                &:before {
                  -webkit-transform: translateX(50px);
                  -ms-transform: translateX(50px);
                  transform: translateX(50px);
                  background: white;
                }

              }
              

            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: white;
              border: 1px solid white;
              -webkit-transition: .4s;
              transition: .4s;

                &:before {
                  position: absolute;
                  content: "";
                  height: 20px;
                  width: 20px;
                  left: 4px;
                  bottom: 3px;
                  background-color: $grey-1;
                  -webkit-transition: .4s;
                  transition: .4s;
                }

                &.round {
                  border-radius: 34px;

                  &:before {
                    border-radius: 50%;
                  }

                }

            }

          } 

        }

    }

  }

  .footer-bottom {
      background: $red;
      padding: 15px 20px;
      text-align: center;
      nav {
        width: 100%;

        ul {
          margin: 0;
          padding: 0;
            li {
              display: inline-block;
              margin: 0 10px;
              position: relative;
              @media (max-width: $desktopXL){
                margin: 0 5px;
              }
              @media (max-width: $tablet){
                display: block;
                margin: 0 0 5px 0;
              }
    
              &:after {
                content: '';
                width: 1px;
                height: 10px;
                background-color: white;
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
                @media (max-width: $tablet){
                  display: none;
                }
                @media (max-width: $desktopXL){
                  margin-left: 12px;
                }
              }
    
              &:last-child {
                &:after {
                  display: none;
                }
              }
    
              a {
                color: white;
                text-transform: uppercase;
                font-size: .9rem;
                @media (max-width: $desktopLS){
                  font-size: .85rem;
                }
              }
            }
          }

      }

  }

}