.forgotMain{
    .login-background{
        width: 100%;
        height: 590px;
        background-color: black;
        display: block;
        background-color: black;
        border-bottom: 60px solid transparent;
        border-image: url(../../public/static/assets/line-black.png) 60 round;
        border-image-outset: 60px;    
        position: relative;
        background-repeat: no-repeat;
        background-position: 0 220px;
        margin-bottom: 70px;
        @media (max-width: $tablet){
            border-image: url(../../public/static/assets/line-black-m.png) 40 round;
            border-image-outset: 35px;
            border-bottom: 35px solid transparent;
            height: 450px;
          }
          @media (max-width: $mobile){
            height: 650px;
          }
        
        .background-drops{
            width: 50%;
            height: 100%;
            background-image: url(../../public/static/assets/back-banner.png);
            @media (max-width: $tablet){
                width: 75%;
              }   
            @media (max-width: $mobile){
                width: 100%;
              }           
        }
        
        .login-info{
            width: 100%;
            max-width: 690px;
            background-color: whitesmoke;
            position: absolute;
            margin-top: 35px;
            margin-left: -240px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 1px 7px #000000a1, #dbad6b -14px 14px;
            @media (max-width: $desktopXL){
                max-width: 590px;
              }
            @media (max-width: $desktopLS){
                margin-left: -130px;
            }
            @media (max-width: $desktop){
                margin-left: 0;
            }
            @media (max-width: $tablet){
                max-width: 500px;
              }
            @media (max-width: $mobile){
                max-width: 90%;
                margin-left: 7px;
                margin-top:75px;
            }
            .login-info-content{
                max-width: 470px;
                margin: auto;
                padding: 20px;
                box-sizing: border-box;
                @media (max-width: $mobile){
                    max-width: 320px;
                }
            p{text-align: center;}
            .input-mail{
                width:98%;
            }
            .mail-title{
                font-weight: bold;
                font-size: 14px; 
                margin-top: 20px;
            }
            }
        }
        .background-banner{        
            background: url(../../public/static/assets/bannerForgot.png);
            width: 100%;
            height: 130%;
            max-width: 1200px;
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain !important;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: 440px;
            margin-top: 50px;
            @media (max-width: $desktop){
                margin-left: 0;
                margin-top: -120px;
                height: 610px;
                width: 827px;
            }
            @media (max-width: $tablet){
                margin-top: -100px;
                height: 469px;
                width: 640px;
            }
            @media (max-width: $mobile){
                margin-top: -185px;
                width: 100%;
            }
        }	
        
        .login-info-title{
            font-weight: bold;
            margin-left: auto;
            text-align: center;
            margin-top: 20px;
            font-size: 1.2rem;
            line-height: 1.3rem;
            margin-bottom: 13px;          
        }

        .inputBox {
            background: url(../../public/static/assets/left-imput-b.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 9px;
            @media (max-width: $mobile){
                background: url(../../public/static/assets/left-imput-b-m.svg);
                background-size: contain;
                background-repeat: no-repeat;
              }

              .input-mail{
                width: 100%;  
                background-color: transparent; 
                border: 0;
                padding: 14px 20px 10px 20px;
                box-sizing: border-box;
                outline: initial;
                font-size: .9rem;
            }
        }

        .buttons-container{
            display: block;
            margin-top: 30px;
            text-align: center;

            a {
                display: inline-block;
                vertical-align: middle;

                .volver-button{
                    background:url(../../public/static/assets/background-button-gray.png);
                    background-repeat: no-repeat;
                    width: 150px;
                    height: 67px;
                    background-size: 150px;
                    border: none;
                    transition: all .3s;
                    margin: 0 10px;
                    font-family: 'Caveat Brush';
                    color: white;
                    text-transform: uppercase;
                    padding-bottom: .7rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        transform: scale(1.15);
                        @media (max-width: $tablet){
                            transform: scale(1);
                        }
                    }
                    @media (max-width: $tablet){
                        padding-bottom: 0;
                    }
                }
            }

            .enviar-button{
                background:url(../../public/static/assets/background-button-red.png);
                background-repeat: no-repeat;
                width: 150px;
                height: 82px;
                background-size: 150px;
                border: none;
                transition: all .3s;
                cursor: pointer;
                margin: 0 10px;
                display: inline-flex;
                vertical-align: middle;
                font-family: 'Caveat Brush';
                color: white;
                text-transform: uppercase;
                align-items: center;
                padding-bottom: .7rem;
                justify-content: center;
                &:hover{
                    transform: scale(1.15);
                    @media (max-width: $tablet){
                        transform: scale(1);
                    }
                }
            }

        }
        
        
        
    }
}
