.GaleryCopyAdd {
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 220px;
  padding: 30px 0  40px 0;
  box-sizing: border-box;


  .content {
    font-size: 0;
    
      .info {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        font-size: 13px;
        position: relative;
        @media (max-width: $desktop){
          width: 100%;
          margin-bottom: 20px;
        }
       

        .content-info {
            width: 90%;
            @media (max-width: $desktop){
              width: 100%;
            }

            .content-tags {
              border-bottom: 1px solid $grey;
              padding: 10px 0;
              display: flex;
              .tags {
                color: white;
                font-family: 'Caveat Brush', cursive;
                padding: 8px;
                text-align: center;
                font-size: 21px;
                background-size: cover;
                flex: 0 0 26%;
                clip-path: polygon(0% 7%, 100% 15%, 100% 90%, 0 100%);
                background-color: black;
                @media (max-width: $desktop){
                  flex: 0 0 40%;
                }
              }
              .ico-tag {
                  justify-content: flex-end;
                  display: flex;
                  flex: 0 0 74%;
                  @media (max-width: $desktop){
                    flex: 0 0 60%;
                  }

                  img {
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-self: center;
                  }

              }
            }

            .date {
                font-style: italic;
                margin: 14px 0 10px 0;
            }

            .autor {
              border-bottom: 1px solid #cecece;
              .ico-autor {
                  display: inline-block;
                  img{
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 50%;
                    @media screen and (min-width:$desktopLS) {
                      width: 40px;
                      height: 40px;
                    }
                  }
              }

              p {
                display: inline-block;
                margin-left: 10px;
                font-weight: 600;
                @media screen and (min-width:$desktopXL) {
                  font-size: 1.05rem;
                }
              }

            }

            .description {
              margin-top: 15px;
            }

            h1 {
              font-weight: bold;
               color: black;
              margin-bottom: 30px;
            }

        }

      }
      aside {
          width: 30%;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          @media (max-width: $desktop){
            width: 100%;
          }

          img {
            width: 300px;
            height: 250px;
          }
      }
  }

}