header {
  background-color: black;
  border-bottom: 10px solid transparent;
  border-image: url(../../public/static/assets/red-line.png) 30 round;
  border-image-outset: 5px;
  z-index: 9999;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1020;
  .top-header {
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid $grey;
    display: flex;
    align-items: center;

    .content-int {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      .social {
        display: inline;
        a {
          display: inline-block;
          margin: 0 6px;
        }
      }

      .user-action {
        float: right;
        display: inline-flex;
        i {
          display: inline-block;
          margin: 0 6px;
          cursor: pointer;
          margin-right: 10px;
          z-index: 99;
        }

        &.open {
          a[title="home"] {
            @media (max-width: $desktop) {
              display: none;
            }
          }

          i.search {
            @media (max-width: $desktop) {
              position: relative;
              margin-right: 0;
            }

            img {
              @media (max-width: $desktop) {
               opacity: 0;
              }
            }

            @media (max-width: $desktop) {
                &:after {
                  width: 30px;
                  height: 30px;
                  display: block;
                  content: "x";
                  opacity: 1;
                  color: white;
                  font-size: 44px;
                  position: absolute;
                  top: -24px;
                  left: 6px;
                  pointer-events: none;
                  font-family: "Caveat Brush", cursive;
              }
            }
          }
        }
      }
    }
  }

  .main-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    width: 120px;
    z-index: 11;
    transition: all 0.5s;

    img {
      width: 100%;
    }
  }

  nav.menu {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 14px 10px;
    z-index: 10;
    box-sizing: border-box;
    position: relative;

    .contentMenuitem {
      width: 40%;
      display: contents;
    }

    > ul, .contentMenuitem {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0;


     > li {
        display: inline-flex;
        width: 20%;
        position: relative;

        > a {
          color: white;
          text-decoration: none;
          font-family: "Caveat Brush", cursive;
          text-transform: uppercase;
          font-size: 23px;
          padding: 0 10px;
          box-sizing: border-box;
          height: 40px;

          &:after {
            width: 13px;
            height: 10px;
            background: url(../../public/static/assets/arrow-main-menu.png)
              no-repeat;
            background-size: contain;
            display: inline-block;
            content: "";
            vertical-align: middle;
            margin-left: 10px;
          }
        }
        &:hover {
          a::after {
            transform: rotate(180deg);
          }
          &:before {
            content: "";
            width: 40px;
            height: 40px;
            background: url(../../public/static/assets/underline-menu.png)
              no-repeat;
            background-size: contain;
            display: inline-block;
            margin-top: 28px;
            margin-left: 10px;
            position: absolute;
          }
        }
        ul {
          display: none;
          a:hover::after {
            content: "";
            width: 24px;
            height: 42px;
            background: url(../../public/static/assets/underline-menu.png)
            no-repeat;
            background-size: contain;
            display: block;
            margin-top: -44px;
            position: absolute;
            margin-left: .5rem;
          }
        }
        &.active {
          &:before {
            content: "";
            width: 40px;
            height: 40px;
            background: url(../../public/static/assets/underline-menu.png)
              no-repeat;
            background-size: contain;
            display: inline-block;
            margin-top: 28px;
            margin-left: 10px;
            position: absolute;
          }
        }
      }
    }
  }
}
body.scroll {
  .search-box {
    top: 112px;
    @media (max-width: $desktop) {
      top: 70px;
    }

    .search-background {
      @media (max-width: $desktop) {
        height: 70px;
        padding-top: 18px;
      }
    }
  }

  // header {
  //   position: sticky;
  //   z-index: 1020;
  // }

  // .bm-burger-button {
  //   position: fixed;
  //   top: 20px;
  // }

  .bm-menu-wrap {
    position: fixed !important;
    top: 65px;
  }

}
.search-box {
  display: none;
  width: 100%;
  z-index: 9;
  position: absolute;
  top: 126px;
  @media (max-width: $desktop) {
    top: 70px;
  }

  .search-background {
    background-color: #ad1414;
    height: 78px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid transparent;
    border-image: url(../../public/static/assets/border-search.png);
    @media (max-width: $desktop) {
      height: 78px;
      padding-top: 28px;
    }
    .search-input {
      width: 70%;
      height: 45%;
      border-radius: 40px;
      padding: 18px 16px;
      box-sizing: border-box;
      outline: none;
      @media (max-width: $desktop) {
        padding: 14px;
      }
      @media (max-width: $tablet) {
        width: 74%;
      }
      &::placeholder {
        font-family: "Caveat Brush", cursive;
        color: black;
        font-size: 15px;
      }
    }
    .search-icon {
      height: 40px;
      margin-left: 10px;
      transition: all .5s;
      &:hover{
        transform: scale(1.1);
      }
      @media (max-width: $desktop) {
        height: 30px;
      }
     
    }
  }
}
@media screen and (max-width: $mob-port-max) {
  header {
    .top-header {
      height: 62px;
      border-bottom: 0;
    }

    nav.menu,
    .social {
      display: none !important;
    }
  }
  .main-brand {
    text-align: center;
    img {
      width: 60% !important;
    }
  }
}
@media screen and (min-width: $mob-land-min) and (max-width: $mob-land-max) {

  header {
    .top-header {
      height: 62px;
      border-bottom: 0;
    }
    nav.menu,
    .social {
      display: none !important;
    }
  }
  .main-brand {
    text-align: center;
    img {
      width: 60% !important;
    }
  }
}
@media screen and (min-width: $tab-land-min) and (max-width: $tab-land-max) {

  header {
    .top-header {
      height: 62px !important;
      border-bottom: 0;
    }
    nav.menu,
    .social {
      display: none !important;
    }
  }
  .main-brand {
    text-align: center;
    img {
      width: 60% !important;
    }
  }
}
@media screen and (min-width: $desk-small-min) and (max-width: $desk-small-max) {
  .menu-item {
    @include header-items-desktop;
  }
}
@media screen and (min-width: $desk-large-min) {
  .menu-item {
    @include header-items-desktop;
  }
}

body.scroll {
  header {
    .main-brand {
      width: 100px;
      @media (max-width: $tablet) {
        width: 110px;
      }
    }
    nav.menu {
      padding: 14px 10px 0px 10px;
    }
  }
}
