.home-grid-item-under-elements{
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    box-shadow: -7px 7px 4px rgb(92, 112, 73);
    margin-top: -60px;
    z-index: 2;
    width: 90%;
    @media (max-width: $desktop){
        margin-bottom: 5px;
    }
   
    .home-grid-item-classification{
        padding-left: 5%;
        padding-top: 5%;
        @media (max-width: $desktop){
            padding-top: 10%;
        }
        .home-grid-item-classification-text{ 
            color: #fff;
            background: brown;
            width: 100%;
            padding: 11px 20px;
            font-size: 17px;
            font-family: "Caveat Brush", cursive;
            box-sizing: border-box;
            display: initial;
            clip-path: polygon(0 7%,100% 15%,100% 90%,0 100%);
        }
    }
    .home-grid-item-footer{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lightgray;
        margin-left: 5%;
        margin-right: 5%;
        .home-grid-item-footer-align{
            display: flex;
            position: relative;
            .home-grid-item-character{
                height: 40px;
                margin-top: 3px;
            }
            .home-grid-item-class{
                padding: 10px;
                font-weight: bold;
                color: black;

                &:after {
                    content: "";
                    width: 1px;
                    height: 20px;
                    background-color: lightgray;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
        }
        .home-grid-item-date{
            color: black;
            font-style: italic;
            padding: 10px;
            font-weight: 400;
        }
    }
    .home-grid-item-title{
        text-decoration: none;
        color: black;
        margin: 7% 6%;
    }    
}

// Para el tipo de carta Calendario
.calendar-home-grid-item-under-elements{
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    //box-shadow: -7px 7px 4px rgb(92, 112, 73);
    z-index: 2;
    background-color: #EED47C;
    background-size: cover;
    background-position-y: bottom;   
    border: 3px solid transparent;
    @media (max-width: $mobile){
        margin-bottom: 0;
    }
    &:hover{
        border: 3px solid black;
    }
    .calendar-home-grid-item-classification{
        padding-left: 5%;
        padding-top: 5%;
        padding-right: 5%;
        display: inline-flex;
        width: -webkit-fill-available;
        justify-content: space-between;
        .calendar-home-grid-item-classification-text{
            color: black;
            background: white;
            font-family: "Caveat Brush", cursive;
            width: 120px;
            height: 40px;
            font-size: 17px;
            text-align: center;
            align-items: center;
            display: grid;
            clip-path: polygon(0% 7%, 100% 15%, 100% 90%, 0 100%);          
        }
    }
    .calendar-home-grid-item-footer{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
        margin-left: 5%;
        margin-right: 5%;        
        .calendar-home-grid-item-date{
            color: black;
            font-style: italic;
            padding: 10px 0;
            font-weight: bold;
            margin: auto;
        }
    }
    .calendar-home-grid-item-title{
        text-decoration: none;
        color: black;
        margin: 20px 6%;
    }    
}


//Termina la carta Calendario


.home-grid-item-banner{
    display:flex;
    justify-content: center;
    .home-grid-item-banner-background{
        z-index: -1;
        background: white;
        text-align: center;
    }
    .card-home-grid-item-banner-icon{
        // position: absolute;
    }
    .home-grid-item-banner-icon{
        position: absolute;
        padding-top: 12px;
        .item-image-banner-icon{
            width: 64px;
            float: right;
            padding-top: 12px;
            padding-right: 24px;

        }
    }
    .home-grid-item-image{
        width: 95%;
        margin: 10px 0;     
        transition: all 0.3s;
        border: 4px solid white;   
    }
    &:hover {
        .home-grid-item-image{
            border: 4px solid black;
            width: 95%;
            margin-top: 10px;
            transform:rotate(-1deg) scale(1.0099);
        }
        // .home-grid-item-banner-icon{
        //     display: none;
        // }
    }
}
.card-home-grid-item-banner-icon{    
    position: absolute;
    right: 30px;
    top: 30px;
}

.home-grid-loadMore{
    background:url(../../public/static/assets/background-button-red.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 210px;
    height: 90px;
    margin: auto;
    transform: scale(0.9);
    transition: all 0.3s;
    cursor: pointer;
    font-family: 'Caveat Brush';
    color: white;
    text-transform: uppercase;  
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 1.4rem; 
    &:hover{
        transform: scale(1);
        
    }

    @media (max-width: $desktop){
        margin: 0 auto 20px auto;
        width: 160px;
        height: 66px;
        text-align: center;
        transform: scale(1);
      }

}

main.main.home {
    .content-card {
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        @media (max-width: $mobile){
            padding: 10px 0;
          }

        &.video {
            .home-grid-item-banner-background {
                overflow: hidden;
                margin-top: 10px;
                display: block;
                .boxInt {
                    overflow: hidden;
                    margin-top: 10px;
                    display: block;

                    img {
                        margin-top: -40px;
                    }

                }
                
            }
            
        }

        &.morado {
            .calendar-home-grid-item-title {
                color: white;
            }

            .calendar-home-grid-item-footer {
                border-top: 1px solid white;
                .calendar-home-grid-item-date  {
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: $mob-port-max) {
    .home-all-content {
        //padding: 20px!important;
    }
    .BannerHome {       
        border-image-outset: 14px!important;      
        border-image-width: 15px!important;
    }
}
@media screen and (min-width: $mob-land-min) and (max-width: $mob-land-max) {
    
}
@media screen and (min-width: $tab-land-min) and (max-width: $tab-land-max) {
    
}
@media screen and (min-width: $desk-small-min) and (max-width: $desk-small-max) {
    
}
@media screen and (min-width: $desk-large-min) {
    // .home-grid-item-under-elements{
    //     max-width: 380px;       
    // }   
}
