.menu-user-data{
    color: whitesmoke;
    font-family: "Caveat Brush", cursive;
    position: relative;
  .user-name{
      color: whitesmoke;
      z-index: 99;  
      font-size: 20px;        
  } 
  .user-name-container{
      display: inline-flex;
      cursor: pointer;
        
        #arrow-user-name{
            width: 13px;
            height: 10px;
            background: url(../../public/static/assets/arrow-main-menu.png) no-repeat;
            background-size: contain;
            display: inline-block;
            margin-top: 12px;
            margin-left: 10px;
            transition: all 0.3s;
        }
    }
    .user-menu{
        display: none;
        position: absolute;
        margin-top: 10px;
        border: solid #939393 1px;
        padding: 10px 20px;
        box-sizing: border-box;
        list-style: none;
        background-color: black;
        font-family: "Jost", sans-serif;
        width: 200px;
        right: 0;

        &:after {
            content: "";
            display: block;
            background: url(../../public/static/assets/border-box-bottom.png) no-repeat;
            background-size: contain;
            width: 200px;
            height: 40px;
            position: absolute;
            left: 0;
            bottom: -38px;
        }
            a {
                color: whitesmoke;
                li {
                    font-weight: 600;
                    &:marker{
                        display: none;
                      }
                    &:after {
                        content: '';
                        width: 30px;
                        height: 7px;
                        background: url(../../public/static/assets/underline-menu.png) no-repeat;
                        background-size: contain;
                        display: block;
                        margin-bottom: 2px;
                        position: relative;
                        margin-left: 0;
                    }  
                }
            }
            li{
                cursor: pointer;
                color: whitesmoke;
                font-size: .9rem;
                font-weight: 100;
                position: relative;
                &:marker{
                    display: none;
                  }

                  &:after {
                    content: '';
                    width: 22px;
                    height: 11px;
                    background: url(../../public/static/assets/ico-close-session.png) no-repeat;
                    background-size: contain;
                    display: inline-block;
                    margin-bottom: 2px;
                    position: relative;
                    vertical-align: middle;
                    margin-left: 6px;
                }  
           }

        
    }
}
@media screen and (max-width: $mob-port-max) {
    .menu-user-data{
        display: none;
    }
}
@media screen and (min-width: $mob-land-min) and (max-width: $mob-land-max) {
    .menu-user-data{
        display: none;
    }
}
@media screen and (min-width: $tab-land-min) and (max-width: $tab-land-max) {
    .menu-user-data{
        display: none;
    }
}
@media screen and (min-width: $desk-small-min) and (max-width: $desk-small-max) {
    
}
@media screen and (min-width: $desk-large-min) {

}