.loginMain{ 
    .login-background{
        width: 100%;
        height: 650px;
        background-color: black;
        display: block;
        background-color: black;
        border-bottom: 60px solid transparent;
        border-image: url(../../public/static/assets/line-black.png) 60 round;
        border-image-outset: 60px;    
        position: relative;
        background-repeat: no-repeat;
        background-position: 0 220px;
        margin-bottom: 70px;
        @media (max-width: $tablet){
            border-image: url(../../public/static/assets/line-black-m.png) 40 round;
            border-image-outset: 35px;
            border-bottom: 35px solid transparent;
          }
          @media (max-width: $mobile){
            height: 740px;
          }
        
        .background-drops{
            width: 50%;
            height: 100%;
            background-image: url(../../public/static/assets/back-banner.png);
            @media (max-width: $tablet){
                width: 75%;
              }   
            @media (max-width: $mobile){
                width: 100%;
              }         
        }
        
        .login-info{
            width: 100%;
            max-width: 690px;
            background-color: whitesmoke;
            position: absolute;
            margin-top: 35px;
            margin-left: -240px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 1px 7px #000000a1, #dbad6b -14px 14px;
            @media (max-width: $desktopXL){
                max-width: 590px;
              }
            @media (max-width: $desktopLS){
                margin-left: -130px;
            }
            @media (max-width: $desktop){
                margin-left: 0;
            }
            @media (max-width: $tablet){
                max-width: 500px;
              }
            @media (max-width: $mobile){
                max-width: 90%;
                margin-left: 7px;
                margin-top: 50px;
            }  
            .login-info-content{
                max-width: 488px;
                margin: auto;
                padding: 50px;
                box-sizing: border-box;
            }
        }
        .background-banner {
            width: 100%;
            height: 130%;
            max-width: 1200px;          
            background: url(../../public/static/assets/bannerLogin.png);
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain !important;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: 440px;
            margin-top: 20px;
            @media (max-width: $desktop){
                margin-left: 0;
                margin-top: -16px;
                height: 610px;
                width: 827px;
            }
            @media (max-width: $tablet){
                margin-top: -100px;
                height: 469px;
                width: 640px;
            }
            @media (max-width: $mobile){
                margin-top: -270px;
                width: 100%;
            }
        }	
        
        .login-info-title{
            font-weight: bold;
            margin-left: auto;
            text-align: center;
            margin-top: 20px;
            font-size: 20px;            
        }
        .login-info-icons{
            width: 100%;
            height: 65px;
            margin: auto;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            border-bottom: solid 1px black;
            position: relative;
            @media (max-width: $tablet){
                display: block;
                text-align: center;
                width: 100%;
              }
              @media (max-width: $mobile){
                margin-top: 15px;
                width: 80%;
              }

            &:after {
                content: "o";
                font-size: 18px;
                font-weight: 500;
                line-height: 0.5;
                width: 20px;
                height: 10px;
                display: block;
                background-color: whitesmoke;
                position: absolute;
                bottom: -5px;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
            }  

            .login-icon-facebook{
                width: 65px;
                height: 50px;
                background: url(../../public/static/assets/login-fb-icon.png);
                background-repeat: no-repeat;
                background-size: 45px 45px;
                background-position-x: 10px;
                padding: 10px;
                border: none;
                outline: none;
                vertical-align: middle;
                @media (max-width: $mobile){
                    width: 45px;
                    height: 45px;
                    margin: 0 3px;
                    background-size: contain;
                    background-position: center;
                  }
            }
            .login-icon-google{
                width: 65px;
                height: 50px;
                background: url(../../public/static/assets/login-google-icon.png);
                background-repeat: no-repeat;
                background-size: 45px 45px;
                background-position-x: 10px;
                border: none;
                outline: none;
                vertical-align: middle;  
                @media (max-width: $mobile){
                    width: 45px;
                    height: 45px;
                    margin: 0 3px;
                    background-size: contain;
                    background-position: center;
                  }
            }            
        }
        .user-inputs{            
            margin-top: 25px;
            @media (max-width: $mobile){
                max-width: 275px;
                margin: 15px auto;
              }
            .mail-title, .password-title{
                font-weight: bold;
                font-size: 14px;
            }

            p.loggin-name-warning,
            p.loggin-password-warning {
                position: absolute;
                color: $red;
                font-size: .9rem;
                margin: -3px 0 0 0;
                @media (max-width: $mobile){
                    margin: 2px 0 0 0;
                }

                &:before {
                    width: 13px;
                    height: 13px;
                    display: inline-block;
                    background: url(../../public/static/assets/ico-alert.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: "";
                    margin-right: 7px;
                }
            }
            

            .capsule {
                background: url(../../public/static/assets/left-imput-b.svg);
                background-repeat: no-repeat;
                background-size: contain;
                @media (max-width: $mobile){
                    background: url(../../public/static/assets/left-imput-b-m.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
                .input-mail{
                    width: 100%;  
                    background-color: transparent; 
                    border: 0;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    outline: initial;
                    font-size: .9rem;
                }

                &[dataerror="active"]{
                    background: url(../../public/static/assets/left-imput-b-red.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    @media (max-width: $mobile){
                        background: url(../../public/static/assets/left-imput-b-m-red.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                      }
                }
            }

            .capsule-pass {
                background: url(../../public/static/assets/right-imput-b.svg);
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                @media (max-width: $mobile){
                    background: url(../../public/static/assets/right-imput-b-m.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                  }

                  &[dataerror="active"]{
                    background: url(../../public/static/assets/right-imput-b-red.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: relative;
                    @media (max-width: $mobile){
                        background: url(../../public/static/assets/right-imput-b-m-red.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                      }
                    }  

               .eye {
                    width: 45px;
                    height: 41px;
                    background: url(../../public/static/assets/showpass-new.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: -1px;
                    cursor: pointer;
                    @media (max-width: $mobile){
                        width: 44px;
                        height: 40px;
                      }
                }

                &.open {
                    .eye {
                        background-position-y: -42px;
                        @media (max-width: $mobile){
                            background-position-y: -41px;
                          }
                    }
                }

                .input-password{
                    width: 100%;  
                    background-color: transparent; 
                    border: 0;
                    padding: 12px 60px 6px 20px;
                    box-sizing: border-box;
                    outline: initial;
                    font-size: .9rem;
                }
            }


            .under-password{
                display: inline-flex;
                align-items: baseline;
                @media (max-width: $mobile){
                    display: block;
                    margin-bottom: 20px;
                  }
                p {
                    font-size: .8rem;
                    line-height: .9rem;
                    padding-right: 10px;
                    @media (max-width: $mobile){
                        display: block;
                      }
                }
                u{
                    white-space: pre;
                    color: black;
                    font-size: .8rem;
                    line-height: .9rem;
                    @media (max-width: $mobile){
                        display: block;
                        text-align: center;
                      }
                }
            }
        }
        .submit-button-login{
            background:url(../../public/static/assets/background-button-red.png);
            background-repeat: no-repeat;
            width: 150px;
            height: 80px;
            margin: auto;
            background-size: 150px;
            border: none;
            transition: all .3s;  
            cursor: pointer;   
            font-family: 'Caveat Brush';
            color: white;
            padding-bottom: .7rem;
            text-transform: uppercase;  
            display: flex;
            justify-content: center;
            align-items: center;   
            font-size: 1.1rem;              
            &:hover{
                transform: scale(1.15);
                @media (max-width: $tablet){
                    transform: scale(1);
                }
            }

        }
        .final-question-container{
            text-align: center;
            .final-question{
                display: inline-flex;
                align-items: baseline;
                margin: auto;
                font-size: 14px;
                @media (max-width: $mobile){
                    display: block;
                  }

                  p {
                      font-size: 0.9rem;
                    @media (max-width: $mobile){
                        margin: 0;
                      }
                  }

                  a {
                    font-size: 0.9rem;
                    @media (max-width: $mobile){
                        margin-bottom: 20px;
                        display: block;
                      }
                  }
                u{
                    font-weight: bold;
                    color: black;
                    margin-left: 10px;
                    font-size: 0.9rem;
                }
            }
        }   
        
    }
}