.mapa-sitio {
    margin: 60px 0 40px 0;
    .content {
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        .secciones {
            border-bottom: 7px solid transparent;
            border-image: url(../../public/static/assets/red-line.png) 30 round;
            margin-bottom: 40px;
            padding-bottom: 40px;
            @media (max-width: $mobile){
                width: 80%;
                margin-left: 10%;
                box-sizing: border-box;
            }
            h2 {
                margin-bottom: 30px;
            }
            ul {
                width: 25%;
                display: inline-block;
                vertical-align: top;
                list-style: none;
                padding: 0;
                border-left: 1px solid #212529;
                padding-left: 30px;
                box-sizing: border-box;
                @media (max-width: $desktop){
                    width: 50%;
                }
                @media (max-width: $mobile){
                    width: 100%;
                    border: 0;
                }

                &:nth-child(2) {
                    border: 0;
                    @media (max-width: $desktop){
                        border-left: 1px solid #212529;
                    }
                    @media (max-width: $mobile){
                        border: 0;
                    }
                }

                h3 {
                   a {
                    color: #212529;
                    font-size: 1.45rem;
                   }
                }
                li {
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

        .otrasecciones,
        .sentidos,
        .personajes {
            width: 33%;
            display: inline-block;
            vertical-align: top;
            @media (max-width: $desktop){
                width: 50%;
              }
            @media (max-width: $mobile){
                width: 80%;
                margin-left: 10%;
                box-sizing: border-box;
            }

            h2 {
                margin-bottom: 30px;
            }

            ul {
                width: 100%;
                list-style: none;
                padding: 0;
                border-left: 1px solid #212529;
                padding-left: 30px;
                box-sizing: border-box;
                @media (max-width: $mobile){
                    border: 0;
                }

                h3 {
                    a {
                        color: #212529;
                        font-size: 1.45rem;
                       }
                }
                li {
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

        .otrasecciones {
            ul {
                border: 0;
                @media (max-width: $desktop){
                    border-left: 1px solid #212529;
                }
                @media (max-width: $mobile){
                    border: 0;
                }
            }
        }
    }
}
 