/*Transitions*/

@mixin hover-transition-5{
  transition: all .5s;
  -webkit-transition: all .5s;
}
@mixin hover-transition-3{
  transition: all .3s;
  -webkit-transition: all .3s;
}
@mixin hover-transition-2{
  transition: all .2s;
  -webkit-transition: all .2s;
}

@mixin btn_primary {
    background-color: $red;
    border: 0;
    color: $white;
    font-family: 'Caveat Brush', cursive;
    width: 100%;
    padding: 12px 60px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    @include hover-transition-3;
    display: inline;
    margin: 0 auto;
    text-transform: uppercase;
    @media (max-width: $desktopXL){
      font-size: 16px;
    }
  
    &:hover{
        background-color: black;
        color: white;
    }
  
  }

  @mixin btn_secondary {
    background-color: $beige;
    border: 0;
    color: $white;
    font-family: 'Caveat Brush', cursive;
    width: 100%;
    padding: 12px 60px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    @include hover-transition-5;
    display: inline;
    margin: 0 auto;
    @media (max-width: $desktopXL){
      font-size: 14px;
    }
  
    &:hover{
        background-color: black;
        color: white;
    }
  
  }
  @mixin header-items-desktop{
    &:hover{        
      .subItems{
        display: inline-grid;
        border: solid 1px white;
        position: absolute;
        background-color: black;
        margin-top: 40px;
        line-height: 30px;
        padding: 0;
        list-style: none;
        width: 95%;
        &::after{
          content:url(../../public/static/assets/border-bottom-submenus.png);
          width: 100%;
          position: absolute;
          bottom: -.8rem;
          left: -.5px;
        }
        li{
          margin: 5px;
          width: 100%;
        }
        a {
          color: white;
          text-decoration: none;
          font-family: "Jost", sans-serif;          
          font-size: 14px;
          padding: 0 10px;  
          box-sizing: border-box;
          font-weight: 200;
          &:hover{
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 500;
          }
        }       
      }
    }
  }
  @mixin floatin-hover-boxes{          
      background-position: 50px -2px;
      transition:.1s;    
  }