.registerMain{ 
    .register-background { 
        width: 100%;
        height: 870px;
        background-color: black;
        display: block;
        background-color: black;
        border-bottom: 60px solid transparent;
        border-image: url(../../public/static/assets/line-black.png) 60 round;
        border-image-outset: 60px;    
        position: relative;
        background-repeat: no-repeat;
        background-position: 0 220px;
        margin-bottom: 70px;
        @media (max-width: $tablet){
            border-image: url(../../public/static/assets/line-black-m.png) 40 round;
            border-image-outset: 35px;
            border-bottom: 35px solid transparent;
          }
          @media (max-width: $mobile){
            height: 1120px;
          }
        
        .background-drops{
            width: 50%;
            height: 100%;
            background-image: url(../../public/static/assets/back-banner.png);
            @media (max-width: $tablet){
                width: 75%;
              }   
            @media (max-width: $mobile){
                width: 100%;
              }             
        }
        
        .register-info{
            width: 100%;
            max-width: 690px;
            background-color: whitesmoke;
            position: absolute;
            margin-top: 35px;
            margin-left: -240px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 1px 7px #000000a1, #21c0a6 -14px 14px;
            @media (max-width: $desktopXL){
                max-width: 590px;
              }
            @media (max-width: $desktopLS){
                margin-left: -130px;
            }
            @media (max-width: $desktop){
                margin-left: 0;
            }
            @media (max-width: $tablet){
                max-width: 500px;
              }
            @media (max-width: $mobile){
                max-width: 90%;
                margin-left: 7px;
                margin-top: 50px;
            }
            .register-info-content{
                max-width: 518px;
                margin: auto;
                padding: 20px;
                box-sizing: border-box;
                @media (max-width: $mobile){
                    max-width: 320px;
                }
                .register-info-title{
                    font-weight: 800;
                    margin-left: auto;
                    text-align: center;
                    margin-top: 20px;
                    font-size: 26px;
                    font-family: "Jost";
                    color: black;              
                }
                .register-info-icons{
                    width: 450px;
                    height: 65px;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    border-bottom: solid 1px black;
                    position: relative;
                    @media (max-width: $tablet){
                        display: block;
                        text-align: center;
                        width: 100%;
                      }
                      @media (max-width: $mobile){
                        margin-top: 15px;
                        width: 80%;
                      }

                      &:after {
                        content: "o";
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 0.5;
                        width: 20px;
                        height: 10px;
                        display: block;
                        background-color: whitesmoke;
                        position: absolute;
                        bottom: -5px;
                        text-align: center;
                        left: 50%;
                        transform: translateX(-50%);
                      }

                    .register-icon-facebook{
                        width: 55px;
                        height: 50px;
                        background: url(../../public/static/assets/login-fb-icon.png);
                        background-repeat: no-repeat;
                        background-size: 45px 45px;
                        padding: 10px;
                        border: none;
                        outline: none;
                        vertical-align: middle;
                        display: inline-block;
                        @media (max-width: $mobile){
                            width: 45px;
                            height: 45px;
                            margin: 0 3px;
                            background-size: contain;
                          }
                    }
                    .register-icon-google{
                        width: 55px;
                        height: 50px;
                        background: url(../../public/static/assets/login-google-icon.png);
                        background-repeat: no-repeat;
                        background-size: 45px 45px;
                        border: none;
                        outline: none;
                        vertical-align: middle;  
                        display: inline-block;
                        @media (max-width: $mobile){
                            width: 45px;
                            height: 45px;
                            margin: 0 3px;
                            background-size: contain;
                          }
                                        
                    }            
                }
                .user-inputs{            
                    margin-top: 20px;
                    .user-names-inputs{
                        display: block;

                        .name-container {
                            display: inline-block;
                            width: 47%;
                            vertical-align: middle;
                            margin-right: 2%;
                            @media (max-width: $mobile){
                               width: 100%;
                               margin-right: 0;
                               margin-bottom: 24px;
                              }

                            .box-input {
                                background: url(../../public/static/assets/left-imput-b-register.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                @media (max-width: $mobile){
                                    background: url(../../public/static/assets/left-imput-b-m.svg);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                  }

                                  .input-name{
                                    width: 100%;  
                                    background-color: transparent; 
                                    border: 0;
                                    padding: 14px 20px 10px 20px;
                                    box-sizing: border-box;
                                    outline: initial;
                                    font-size: .9rem;
                                }
                            }

                            p.user-name-warning {
                                position: absolute;
                                color: $red;
                                font-size: .9rem;
                                margin: -3px 0 0 0;
                                @media (max-width: $mobile){
                                    margin: 2px 0 0 0;
                                }
                
                                &:before {
                                    width: 13px;
                                    height: 13px;
                                    display: inline-block;
                                    background: url(../../public/static/assets/ico-alert.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    content: "";
                                    margin-right: 7px;
                                }
                            }
                            
                           
                        }

                        .last-name-container {
                            display: inline-block;
                            width: 48%;
                            vertical-align: middle;
                            @media (max-width: $mobile){
                                width: 100%;
                               }
                            .box-input {
                                background: url(../../public/static/assets/left-imput-b-register.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                @media (max-width: $mobile){
                                    background: url(../../public/static/assets/left-imput-b-m.svg);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                  }

                                  .input-last-name{
                                    width: 100%;  
                                    background-color: transparent; 
                                    border: 0;
                                    padding: 14px 20px 10px 20px;
                                    box-sizing: border-box;
                                    outline: initial;
                                    font-size: .9rem;
                                }
                            }

                            p.user-lastname-warning {
                                position: absolute;
                                color: $red;
                                font-size: .9rem;
                                margin: -3px 0 0 0;
                                @media (max-width: $mobile){
                                    margin: 2px 0 0 0;
                                }
                
                                &:before {
                                    width: 13px;
                                    height: 13px;
                                    display: inline-block;
                                    background: url(../../public/static/assets/ico-alert.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    content: "";
                                    margin-right: 7px;
                                }
                            }
                        }

                        .user-name, .user-last-name{
                            font-weight: bold;
                        }                                             
                    } 
                    .mail-container{

                        .box-input {
                            background: url(../../public/static/assets/left-imput-b.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            @media (max-width: $mobile){
                                background: url(../../public/static/assets/left-imput-b-m.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                              }

                              .input-mail{
                                width: 100%;  
                                background-color: transparent; 
                                border: 0;
                                padding: 14px 20px 10px 20px;
                                box-sizing: border-box;
                                outline: initial;
                                font-size: .9rem;
                            }
                        }    

                        .user-mail-title{
                            font-weight: bold;
                        }

                        p.user-email-warning {
                            position: absolute;
                            color: $red;
                            font-size: .9rem;
                            margin: 0;
                            @media (max-width: $mobile){
                                margin: 2px 0 0 0;
                            }
            
                            &:before {
                                width: 13px;
                                height: 13px;
                                display: inline-block;
                                background: url(../../public/static/assets/ico-alert.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: "";
                                margin-right: 7px;
                            }
                        }

                    }
                    .user-names-passwords{            
                        display: block;
                        margin: 15px 0;
                        .user-password-title {
                           font-weight: bold; 
                        }

                        .password-container {
                            display: inline-block;
                            width: 48%;
                            vertical-align: middle;
                            margin-right: 2%;
                            @media (max-width: $mobile){
                                width: 100%;
                                margin-right: 0;
                                margin-bottom: 24px;
                               }

                            .box-input {
                                background: url(../../public/static/assets/left-imput-b-register.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                                @media (max-width: $mobile){
                                    background: url(../../public/static/assets/left-imput-b-m.svg);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                  }
    
                                  .input-password{
                                    width: 100%;  
                                    background-color: transparent; 
                                    border: 0;
                                    padding: 14px 20px 10px 20px;
                                    box-sizing: border-box;
                                    outline: initial;
                                    font-size: .9rem;
                                }

                                .eye {
                                    width: 50px;
                                    height: 36px;
                                    background: url(../../public/static/assets/showpass-2-new.svg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    right: 0;
                                    top: 6px;
                                    cursor: pointer;
                                    @media (max-width: $mobile){
                                        width: 48px;
                                        height: 35px;
                                        top: 10px;
                                      }

                                }

                                &.pass,
                                &.confirmPass {
                                    &.open {
                                          .eye {
                                            background-position-y: -37px;
                                            @media (max-width: $mobile){
                                                background-position-y: -36px;
                                              }
                                          }
                                    }
                                }
                            }

                        }

                    }
                    .under-password{
                        border-bottom: 1px solid gray;
                        margin-bottom: 25px;
                        p {
                            font-size: .8rem;
                            line-height: .9rem;
                            margin-bottom: 20px;
                            padding-right: 10px;
                        }

                        .equal-pass-alert,
                        .complete-pass-alert {
                            position: relative;
                            color: $red;
                            font-size: .9rem;
                            margin: 0 0 3px 0;
                           
            
                            &:before {
                                width: 13px;
                                height: 13px;
                                display: inline-block;
                                background: url(../../public/static/assets/ico-alert.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: "";
                                margin-right: 7px;
                            }
                        }

                    }
                    .terms-condtions-container{
                        font-size: .8rem;
                        line-height: 1.25rem;
                        margin-bottom: 6px;
                        a {
                            color:black;
                            font-weight: bold;
                            text-decoration: underline;
                            font-size: .8rem;
                            line-height: .9rem;
                        }

                        input[type="checkbox"] {
                            margin-right: 10px;
                            top: 0;
                            left: 0;
                            height: 16px;
                            width: 16px;
                            background-color: #eee ;
                            appearance: none;
                            -webkit-appearance: none;
                            -ms-progress-appearance: none;
                            border: 0.117rem solid black;
                            transform: skewX(7deg);
                            transform: skew(5deg,2deg);
                            position: relative;
                            
                            &:checked{
                                background-image: url(../../public/static/assets/checkbox-checked.png);
                                background-size: 12px;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }

                        .user-terms-warning {
                            position: relative;
                            color: $red;
                            font-size: .9rem;
                            margin: 10px 0 10px 0;
                           
            
                            &:before {
                                width: 13px;
                                height: 13px;
                                display: inline-block;
                                background: url(../../public/static/assets/ico-alert.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: "";
                                margin-right: 7px;
                            }
                        }
                    }
                    .submit-button-register{
                        background:url(../../public/static/assets/background-button-red.png);
                        background-repeat: no-repeat;
                        width: 150px;
                        height: 82px;
                        margin: auto;
                        background-size: 150px;
                        margin-top: 22px;
                        transition: all .3s;  
                        cursor: pointer;   
                        font-family: 'Caveat Brush';
                        color: white;
                        padding-bottom: .7rem;
                        text-transform: uppercase;  
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                        font-size: 1.1rem;     
                        border: none;               
                        &:hover{
                            transform: scale(1.15);
                            @media (max-width: $tablet){
                                transform: scale(1);
                            }
                        }
                    }
                    .final-question{
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        p{
                            font-size: 0.9rem;
                        }
                        a{
                            color:black;
                            font-weight: bold;
                            text-decoration: underline; 
                            font-size: 0.9rem;
                        }
                    }   
                }
                
            }
        }
        .background-banner{         
            background: url(../../public/static/assets/bannerRegister.png);
            width: 100%;
            height: 130%;
            max-width: 1200px;
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain !important;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: 440px;
            margin-top: 50px;
            @media (max-width: $desktop){
                margin-left: 0;
                margin-top: -140px;
                height: 610px;
                width: 827px;
            }
            @media (max-width: $tablet){
                margin-top: -250px;
                height: 469px;
                width: 640px;
            }
            @media (max-width: $mobile){
                margin-top: -370px;
                width: 100%;
            }
        }
    }  
}      