.section-menu-banner {
  margin-bottom: 20px;
  position: relative;
  @media (max-width: $mobile) {
    margin-bottom: 40px;
  }
  @media (max-width: $mobileL) {
    margin-bottom: 20px;
  }

  &:after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../../public/static/assets/line-sections.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
  }

  .background-color {
    width: 100%;
    height: 350px;
    position: absolute;
    display: block;
    top: 0;
    z-index: 0;
    opacity: 0.8;
    @media (max-width: $desktopL) {
      height: 280px;
    }
  }

  .content {
    position: absolute;
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @media (max-width: $desktopL) {
      height: 280px;
    }

    nav.main-breadcrumb {
      position: absolute;
      width: 100%;
      left: 20px;
      top: 20px;
      @media (max-width: $desktop) {
        display: none;
      }

      ol.breadcrumb {
        background: transparent;
        padding: 0;
        margin: 0;

        .breadcrumb-item {
          color: white;
          padding: 0;

          & + .breadcrumb-item {
            &::before {
              background-image: url(../../public/static/assets/arrow-right.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 9px;
              content: "";
              width: 20px;
              margin: 0 3px;
              padding: 0;
              float: initial;
              display: inline-block;
              height: 20px;
              vertical-align: middle;
            }
          }

          a {
            color: white;
          }
        }
      }
    }

    .item {
      position: absolute;
      width: 315px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      margin-top: 20px;
      @media (max-width: $desktopL) {
        width: 300px;
      }
      @media (max-width: $desktop) {
        width: 280px;
      }
      @media (max-width: $tablet) {
        width: 270px;
        margin-top: 15px;
      }

      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 65px;
        text-transform: uppercase;
        text-shadow: 0px 0px 8px #212121;
        font-weight: 600;
        @media (max-width: $desktopL) {
          font-size: 60px;
        }
        @media (max-width: $desktop) {
          font-size: 56px;
        }
        @media (max-width: $tablet) {
          font-size: 50px;
        }
        @media (max-width: $mobilexs) {
          font-size: 45px;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  .background {
    height: 350px;
    @media (max-width: $desktopL) {
      height: 280px;
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
      height: 350px;
      @media (max-width: $desktopL) {
        height: 280px;
      }
    }
  }
}

.sentidos-menu-banner {
  margin-bottom: 90px;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../../public/static/assets/line-sections.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
  }

  &:before {
    content: "";
    width: 434px;
    height: 143px;
    background-image: url(../../public/static/assets/back-sentidos.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @media (max-width: $desktop) {
      width: 326px;
      height: 113px;
    }
    @media (max-width: $mobile) {
      width: 316px;
      height: 93px;
    }
  }

  .background-color {
    width: 100%;
    height: 250px;
    position: absolute;
    display: block;
    top: 0;
    z-index: 0;
    opacity: 0.8;
    @media (max-width: $desktopL) {
      height: 230px;
    }
    @media (max-width: $desktop) {
      height: 200px;
    }
  }

  .content {
    position: absolute;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @media (max-width: $desktopL) {
      height: 230px;
    }
    @media (max-width: $desktop) {
      height: 200px;
    }

    nav.main-breadcrumb {
      position: absolute;
      width: 100%;
      left: 20px;
      top: 20px;
      @media (max-width: $desktop) {
        display: none;
      }

      ol.breadcrumb {
        background: transparent;
        padding: 0;
        margin: 0;

        .breadcrumb-item {
          color: white;
          padding: 0;

          & + .breadcrumb-item {
            &::before {
              background-image: url(../../public/static/assets/arrow-right.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 9px;
              content: "";
              width: 20px;
              margin: 0 3px;
              padding: 0;
            }
          }

          a {
            color: white;
          }
        }
      }
    }

    .item {
      position: absolute;
      width: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      margin-top: 70px;
      @media (max-width: $desktop) {
        width: 130px;
        margin-top: 60px;
      }
      @media (max-width: $tablet) {
        width: 120px;
        margin-top: 50px;
      }
      @media (max-width: $mobile) {
        width: 110px;
        margin-top: 50px;
      }

      img {
        width: 100%;
      }
    }
  }

  .background {
    height: 250px;
    @media (max-width: $desktopL) {
      height: 230px;
    }
    @media (max-width: $desktop) {
      height: 200px;
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
      height: 250px;
      @media (max-width: $desktopL) {
        height: 230px;
      }
      @media (max-width: $desktop) {
        height: 200px;
      }
    }
  }

}

.main-masonry-sentidos {
  padding-bottom: 50px;
  box-sizing: border-box;
  // margin-top: 90px;

  .masonry-content-dinamicas {
    padding: 20px 0 40px 0 !important;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    @media (max-width: $desktopXL){
      max-width: 1150px;
    }

    .content-card {
        padding: 12px;
        box-sizing: border-box;
        position: relative;
    }
  }

}

.main-masonry-secciones {
  padding: 40px 0 70px 0 !important;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  @media (max-width: $desktopXL){
    max-width: 1150px;
  }
}

.character-menu-banner {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../../public/static/assets/border-characters.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .background-color {
    width: 100%;
    height: 350px;
    position: absolute;
    display: block;
    top: 0;
    z-index: 0;
    opacity: 0.8;
  }

  .content {
    position: absolute;
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    nav.main-breadcrumb {
      position: absolute;
      width: 100%;
      left: 20px;
      top: 20px;
      @media (max-width: $desktop) {
        display: none;
      }

      ol.breadcrumb {
        background: transparent;
        padding: 0;
        margin: 0;

        .breadcrumb-item {
          color: white;
          padding: 0;

          & + .breadcrumb-item {
            &::before {
              background-image: url(../../public/static/assets/arrow-right.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 9px;
              content: "";
              width: 20px;
              margin: 0 3px;
              padding: 0;
              height: 20px;
              vertical-align: middle;
            }
          }

          a {
            color: white;
          }
        }
      }
    }

    .character {
      position: absolute;
      width: 320px;
      left: 100px;
      bottom: 0;
      z-index: 0;
      @media (max-width: $desktop) {
        left: 0;
      }
      @media (max-width: $tablet) {
        left: -50px;
      }
      @media (max-width: $mobile) {
        left: -100px;
      }

      img {
        width: 100%;
      }
    }

    blockquote {
      max-width: 500px;
      padding: 30px 40px;
      text-align: left;
      margin: initial;
      margin-left: -6%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      border: 4px solid black;
      @media (max-width: $desktop) {
        padding: 27px 37px;
        margin-right: 4%;
      }
      @media (max-width: $tablet) {
        padding: 22px 26px;
        box-shadow: -8px 8px 0px 0px #dbad6b;
        margin-left: -8%;
        margin-right: 4%;
      }
      @media (max-width: $mobile) {
        box-shadow: -6px 6px 0px 0px #dbad6b;
        padding: 16px 14px;
        border: 3px solid black;
        margin-top: 32px;
      }

      &:before {
        width: 45px;
        height: 34px;
        top: -20px;
        @media (max-width: $mobile) {
          width: 34px;
          height: 24px;
          top: -14px;
        }
      }

      &:after {
        width: 45px;
        height: 34px;
        bottom: -20px;
        @media (max-width: $mobile) {
          width: 34px;
          height: 24px;
          bottom: -14px;
        }
      }

      h1 {
        font-family: "Caveat Brush", cursive;
        text-transform: uppercase;
        color: black;
        @media (max-width: $tablet) {
          font-size: 2rem;
          line-height: 2.1rem;
        }
      }

      p {
        font-size: 1.4rem;
        line-height: 1.5rem;
        border: 0;
        margin-top: 10px;
        padding-top: 0;
        @media (max-width: $desktop) {
          font-size: 1.2rem;
          line-height: 1.3rem;
        }
        @media (max-width: $tablet) {
          font-size: 1rem;
          line-height: 1.1rem;
        }
        @media (max-width: $mobile) {
          font-size: 0.9rem;
          line-height: 1rem;
        }
      }
    }
  }

  .background {
    height: 350px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
      height: 350px;
    }
  }
}

nav.menu-sections {
  width: 100%;
  padding: 12px 20px;
  max-width: 1150px;
  background-color: black;
  box-sizing: border-box;
  margin: 0 auto;
  position: absolute;
  top: 655px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  @media (max-width: $desktopL) {
    top: 590px;
  }
  @media (max-width: $desktop) {
    padding: 14px 20px;
    overflow: hidden;
    overflow-x: auto;
    top: 548px;
  }
  @media (max-width: $tablet) {
    top: 485px;
  }
  @media (max-width: $mobile) {
    top: 485px;
  }
  @media (max-width: $mobileL) {
    top: 445px;
  }
  @media (max-width: $mobilex) {
    top: 425px;
  }
  @media (min-width:$desktopXL) {
    max-width: 1375px;
  }

  &.UpPautaHeader {
    top: 400px;
    @media (max-width: $desktop) {
      top: 280px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    @media (max-width: $desktop) {
      width: 950px;
    }
    @media (max-width: $tablet) {
      width: 100%;
    }
    @media (max-width: $mobile) {
      width: 540px;
    }

    li {
      display: inline-block;
      margin: 0 50px;
      color: white;
      position: relative;
      @media (max-width: $desktopL) {
        margin: 0 40px;
        height: 30px;
      }
      @media (max-width: $tablet) {
        margin: 15px 40px 0;
        height: 30px;
      }

      a {
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
      }
      
      &.active {
        &:before {
          content:url(../../public/static/assets/underline-red.png);
          top: 55%;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          @media (max-width: $desktop) {
            
          }
        }
      }
    }
    @media (max-width: $mobile) {
      display: flex;
      overflow: hidden;
    }
  }
}

body.scroll {
  nav.menu-sections {
    top: 112px;
    z-index: 8;
    position: fixed;
    max-width: initial;
    padding-top: 15px;
    @media (max-width: $desktop) {
      top: 72px;
      padding-top: 30px;
    }
  }
}

