.css-2b097c-container{
    width:200px;
}
.css-2b097c-container{
    z-index: 3;
    .css-2613qy-menu{
        background-color: black;
          
    }  
    label{
        color:white;        
    }
    .css-4ljt47-MenuList{
        background-color: black;
    }
    // input[type=checkbox]:after {
    //     content: " ";
    //     background-color:black;
    //     display: inline-block;
    //     visibility: visible;
    //   }
    //   input[type=checkbox]:checked:after {
    //     content: "\2713";
    //     /* this is a checkmark symbol */
    //   } 
     

}
.filter-board-container{
    display: inline-flex;
    width: auto;
    margin: 15px auto;
    align-items: flex-end;
    text-align: center;
    margin-left: 12%;
}
.css-1n7v3ny-option, .css-9gakcf-option{
    background-color: #ad1414!important;
    input{
        appearance: none;
        width:12px;
        height: 12px;
        float: right!important;
        border: 1px solid white;
        background-color: black!important;
        &:checked{
           appearance: none;
           background-color: black;
           width:12px;
           height: 12px;
           border: 1px solid white;
           border-radius: 2px;
           position: relative;
           &::after{
                content: url(../../public/static/assets/chulo-01.png)!important;
                position: absolute;
                top: -7px;
                left: -3px;               
           }
        }
    }    
}
.css-yt9ioa-option, .css-9gakcf-option  {
    input{
        float: right!important; 
        appearance: none;
        width:12px;
        height: 12px;
        float: right!important;
        border: 1px solid white;
        background-color: black!important;       
    }  
}