.SliderArticulos {
    background: linear-gradient(90deg, $green 95%, transparent 5%);
    padding: 0;
    box-sizing: border-box;
    position: relative;
    @media (max-width: $desktopLS){
      background: linear-gradient(90deg, $green 97%, transparent 5%);
    }
    @media (max-width: $tablet){
      background: linear-gradient(90deg, $green 98%, transparent 5%);
    }

    &::after {
      width: 190px;
      height: 100%;
      content: "";
      display: block;
      background-image: url(../../public/static/assets/border-slider.png);
      background-size: cover;
      position: absolute;
      right: -20px;
      top: 0;
      z-index: -1;
      @media (max-width: $desktopLS){
        background-image: url(../../public/static/assets/border-slider-m.png);
        background-size: cover;
        width: 50px;
        right: 8px;
      }
      @media (max-width: $tablet){
        background-size: initial;
        width: 26px;
        right: -2px;
      }
    }

    .content-max {
      position: relative;
      padding: 30px 0;

      .slider {
        max-width: 1250px;
        margin: 0 auto;

        .item {
          outline: none;
          img {
              width: 98%;
              margin-left: 1%;
              @media (max-width: $desktopLS){
                width: 94%;
                margin-left: 3%;
              }
              @media (max-width: $desktop){
                max-width: 600px;
                margin: 0 auto;
                display: block;
                width: 100%;
              }
          }

          .info {
            position: relative;
            margin-bottom: 40px;
            p {
              padding: 5px 150px 5px 20px;
              box-sizing: border-box;
              color: white;
              @media (max-width: $tablet){
                padding: 5px 100px 5px 20px;
              }

              @media (max-width: $mobile){
                padding: 15px 16px 5px 16px;
              }

            }

            a.down-load {
              width: 33px;
              height: 33px;
              position: absolute;
              right: 30px;
              background-image: url(../../public/static/assets/ico-download.svg);
              background-repeat: no-repeat;
              background-size: contain;
              z-index: 999;
              display: block;
              top: 0;
              text-indent: -99px;
              overflow: hidden;
              @media (max-width: $mobile){
                top: -55px;
              }
          }

          }

        }
  
        button.carousel-button {
            background: transparent;
            border: 0;
            outline: initial;
            @media (max-width: $desktop){
              display: none;
            }

           &:last-child {
                margin-left: -20px;
            }

           &:first-child {
                margin-right: -20px;
            }

        }

      }

     

    }

    .content-dots {
      span {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 1rem;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
        @media (max-width: $mobile){
          font-size: .9rem;
        }
      }
      .dots {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 0 15px;

        &:after {
          width: 100%;
          content: "";
          display: block;
          background-color: #ffffff36;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 1px;
          position: absolute;
          height: 1px;
        }
       
        .dot {
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          height: 5px;
          background-color: transparent;
          cursor: pointer;
          @media (max-width: $tablet){
            width: 25px;
          }
          @media (max-width: $mobile){
            width: 20px;
          }

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }

          &.active {
            background-color: white;
            text-shadow: 0px 0px 4px rgb(0 0 0);
          }
          

        }
      }
    }

}