/*Caustica*/ 

//Colors
$green: #ac9e3c;
$aquamarine: #21c0a6;
$beige: #dbad6b;
$beige-1: #f1e9ce;
$beige-2: #f5d4a9;
$beige-3: #E9D3AA;
$brown: #986b58;
$red: #e62e2e;
$grey: #939393;
$grey-1: #393939;

// Media Querys
$mobilexs: 350px !default;
$mobilex: 375px !default;
$mobileL: 425px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopXS: 1024px !default;
$desktopL: 1200px !default;
$desktopLS: 1350px !default;
$desktopXL: 1500px !default;

//Full Responsive MQ

$mob-port-max:575.98px;
$mob-land-min:576px;
$mob-land-max:767.98px;
$tab-land-min:768px;
$tab-land-max:991.98px;
$desk-small-min:992px;
$desk-small-max:1366.98px;
$desk-large-min:1367px;