.modal-email-sended{
    font-size: 24px;   
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    text-align: center;
    font-weight: bold;
}
.modal-email-sended-sub{
    text-align: center;
}

.rodal {
    z-index: 1021 !important;
    .rodal-dialog {
            width: 455px !important;
            overflow-wrap: break-word;
        @media (max-width: $mobile) {
            width: 90% !important;
            margin-left: 7%;
          }
    }

    span.rodal-close {
        &:after {
            top: -70px;
            color: white;
            opacity: 1;
            content: "x";
            display: block;
            font-size: 37px;
            font-family: "Caveat Brush", cursive;
            transform: initial;
            background: initial;
            margin: 0;
            height: auto;
        }

        &:before {
           display: none;
        }
    }

    .rodal-mask {
        background: rgba(0, 0, 0, 0.6);
    }
    .modal-update-info {
        font-size: 23px;
        line-height: 25px;
        top: 50%;
        margin-top: 18px;
        width: 100%;
        max-width: 330px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800 !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: $mobile) {
            font-size: 21px;
            line-height: 23px;
            padding: 0 10px;
            box-sizing: border-box;
          }
    }

    &.error {
        .modal-update-img {
            background-image: url(../../public/static/assets/alert-modal.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 100px;
            height: 100px;
            margin: -50px auto 0 auto;
            display: block;
            border: 0;
            outline: initial;
            @media (max-width: $mobile) {
                width: 80px;
                height: 80px;
                margin: -40px auto 0 auto;
              }
        }
    }

    &.ok {
        .modal-update-img {
            background-image: url(../../public/static/assets/ok-modal.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 100px;
            height: 100px;
            margin: -50px auto 0 auto;
            display: block;
            border: 0;
            outline: initial;
            @media (max-width: $mobile) {
                width: 80px;
                height: 80px;
                margin: -40px auto 0 auto;
              }
        }

        .rodal-dialog {
            box-shadow: rgb(0 0 0 / 63%) 0px 1px 7px, #21c0a6 -14px 14px!important;
        }
        
    }

}